<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmDocumentSelector.aspx.cs"
    Inherits="lntechNew.ClientInfo.frmDocumentSelector" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Document Selector</title>
    <link href="../Styles.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
    function CloseWindow()
    {
        window.close(); 
    }
     function querySt(ji) 
            {
                hu = window.location.search.substring(1);
                gy = hu.split("&");
                for (i=0;i<gy.length;i++) 
                {
                    ft = gy[i].split("=");
                    if (ft[0] == ji) 
                    {
                        return ft[1];
                    }

               }
           }
              

    //Fahad 5908 05/15/2009 Function to Open E-signature Exe
        function OpenESignature() {

            // Noufil 5931 05/20/2009 Extracting parameter from Query String.
           var ticketid = querySt("ticketid");
           var sessionid = querySt("sessionid");
           var exepath=querySt("exepath");
           exepath = exepath.replace("_","\\");
           exepath = exepath.replace("_","\\");
           exepath = exepath.replace("_","\\");
           exepath = exepath.replace("_","\\");
           exepath = exepath.replace("_","\\");
           var getdate = new Date();
           sessionid = sessionid + getdate.getHours() + getdate.getMinutes() + getdate.getSeconds();
           var oShell = new ActiveXObject("Shell.Application");
		   // tahir 7899 07/15/2010 changed the parameter delimiter to pipe sign
		   var paramShell = ticketid +"|"+ "TTTTT" +"|"+ sessionid;
		   window.self.close();
		   oShell.ShellExecute(exepath+"ESignatures.exe", paramShell, "", "open", "1");		   		   
        }	
    


    </script>

</head>
<body bgcolor="#eff4fb" onload="OpenESignature();">
    <form id="form1" runat="server">    
    
    </form>
</body>
</html>
