<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.ClientInfo.PopUp" Codebehind="PopUp.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>PopUp</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
	  <script>
			function OpenPopUp()
			{				
			    var PDFWin
			    PDFWin = window.open("SchedulePayment.aspx",'',"fullscreen=no,toolbar=no,width=370,height=120,left=100,top=300,status=no,menubar=no,scrollbars=yes,resizable=yes");				
				window.history.back(); 				
			}			
	</script>
	</head>
	<body onload="OpenPopUp();" MS_POSITIONING="GridLayout">		
	</body>
</html>