<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.QuickEntryNew.FrmTableExportTiExcel" Codebehind="FrmTableExportToExcel.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>FrmTableExportTiExcel</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Table id="TbResults" style="Z-INDEX: 101; LEFT: 72px; POSITION: absolute; TOP: 96px" runat="server"
				BorderWidth="1px" BorderColor="#404040"></asp:Table>
		</form>
	</body>
</HTML>
