﻿<%@ Page Language="c#" AutoEventWireup="true" Inherits="HTP.Activities.Lead"
    CodeBehind="Lead.aspx.cs" %>

<%@ Register TagName="datepicker" TagPrefix="picker" Src="~/WebControls/CalendarControl.ascx" %>
<%@ Register TagPrefix="ew" Namespace="eWorld.UI" Assembly="eWorld.UI, Version=1.9.0.0, Culture=neutral, PublicKeyToken=24d65337282035f2" %>
<%@ Register TagPrefix="uc1" TagName="ActiveMenu" Src="../WebControls/ActiveMenu.ascx" %>
<%--Yasir Kamal 5427 01/31/2009 Pagging functionality Added.--%>
<%@ Register Src="../WebControls/PagingControl.ascx" TagName="PagingControl" TagPrefix="uc3" %>
<%@ Register TagName="PolmControl" TagPrefix="uc2" Src="~/WebControls/PolmControl.ascx" %>
<%--Yasir Kamal 5427 end--%>
<%@ Register TagPrefix="uc1" TagName="Footer" Src="../WebControls/Footer.ascx" %>
<%@ Register TagPrefix="mbrsc" Namespace="MetaBuilders.WebControls" Assembly="MetaBuilders.WebControls.RowSelectorColumn" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lead</title>
    <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
    <meta content="C#" name="CODE_LANGUAGE" />
    <meta content="JavaScript" name="vs_defaultClientScript" />
    <link href="../Styles.css" type="text/css" rel="stylesheet" />
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />

    <script src="../Scripts/Dates.js" type="text/javascript"></script>

    <script src="../Scripts/jsDate.js" type="text/javascript"></script>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">
    <!-- For iPad Retina display -->




    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />


    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->


    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    

    <script src="../assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="../assets/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/datepicker/js/datepicker.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/jquery-1.11.2.min.js"><\/script>');</script>
    <script src="../assets/js/scripts.js" type="text/javascript"></script>
    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

    <script language="javascript" type="text/javascript">
        function pageLoad() {
            $('.input-group-addon').click(function () {
                $(this).closest('div').find('input').focus();
            });

            $('.datepicker').datepicker({ autoclose: true });
        }
        $('.datepicker').datepicker({ autoclose: true });

        function checkradio() {

            if (document.getElementById("rb_report_0").checked == true) {
                document.getElementById("tr_image").style.display = 'none';
                document.getElementById("tr_image2").style.display = 'block';
            }
            if (document.getElementById("rb_report_1").checked == true) {
                document.getElementById("tr_image2").style.display = 'none';
                document.getElementById("tr_image").style.display = 'block';
            }

        }

        function checkcomments(type) {
            var datelenght;
            if (type == 1) {
                var comm = document.getElementById("txt_onlinecomment").value;
                var comm_lenght = document.getElementById("txt_onlinecomment").value.length;
                var oldcomm_lenght = document.getElementById("hf_onlineoldcomments").value.length;
            }
            else if (type == 0) {
                var comm = document.getElementById("txt_comment").value;
                var comm_lenght = document.getElementById("txt_comment").value.length;
                var oldcomm_lenght = document.getElementById("hf_oldcomments").value.length;
            }
            else if (type == 2) {
                var comm = document.getElementById("tbContactRepComments").value;
                var comm_lenght = document.getElementById("tbContactRepComments").value.length;
                var oldcomm_lenght = document.getElementById("hfContactOldComments").value.length;
            }

            if (comm_lenght == 0) {
                //alert("Please Enter Comments")
                $("#txtErrorMessage").text("Please Enter Comments");
                $("#errorAlert").modal();
                return false;
            }

            if (CheckName(comm) == false) {
                // alert("Please enter valid comments.");
                $("#txtErrorMessage").text("Please Enter Comments");
                $("#errorAlert").modal();
                return false;
            }
            if (comm_lenght > 0)
                dateLenght = 27
            else
                dateLenght = 0

            if ((oldcomm_lenght + comm_lenght) > 5000 - dateLenght)//-27 bcoz to show last time partconcatenated with comments
            {
                //alert("Sorry You cannot type in more than 5000 characters in contact comments")
                $("#txtErrorMessage").text("Sorry You cannot type in more than 5000 characters in contact comments");
                $("#errorAlert").modal();
                return false;
            }

            //Yasir Kamal 7372 02/12/2010 allow user to set follow Up date.
            return CheckDate();
        }

        function CheckName(name) {
            for (i = 0 ; i < name.length ; i++) {
                var asciicode = name.charCodeAt(i)
                //If not valid alphabet 
                if ((asciicode == 60) || (asciicode == 62))
                    return false;
            }
        }

        function showHideDateRange(chkPending) {
            var dateRange = document.getElementById("tblContactUs");

            if (document.getElementById("rb_report_1").checked) {
                dateRange.style.display = "block";
                document.getElementById("cal_EffectiveFrom").disabled = true;

                if (chkPending == 1)
                    document.getElementById("dd_callback").value = "0";
            }
            else {
                dateRange.style.display = "none";
                document.getElementById("cal_EffectiveFrom").disabled = false;
            }
        }

        //Yasir Kamal 7372 02/12/2010 allow user to set follow Up date.
        function DateDiff(date1, date2) {
            var one_day = 1000 * 60 * 60 * 24;
            var objDate1 = new Date(date1);
            var objDate2 = new Date(date2);
            return (objDate1.getTime() - objDate2.getTime()) / one_day;
        }

        function CheckDate() {
            today = new Date();
            seldate = document.getElementById("calfollowupdatenew").value;
            var diff = Math.ceil(DateDiff(seldate, today));
            var weekday = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
            var newseldatestr = formatDate((Date.parseInvariant(seldate).getMonth() + 1) + "/" + Date.parseInvariant(seldate).getDate() + "/" + Date.parseInvariant(seldate).getFullYear(), "MM/dd/yyyy");
            newseldate = Date.parseInvariant(newseldatestr, "MM/dd/yyyy");
            var callBackddl = document.getElementById("ddl_onlinecallback").selectedIndex;

            if (weekday[newseldate.getDay()] == "Saturday" || weekday[newseldate.getDay()] == "Sunday") {
                //alert("Please select any business day");
                $("#txtErrorMessage").text("Please select any business day");
                $("#errorAlert").modal();

                return false;
            }

            if (diff <= 0 && (callBackddl == 0 || callBackddl == 2 || callBackddl == 3)) {
                //alert("Please select future date");
                $("#txtErrorMessage").text("Please select future date");
                $("#errorAlert").modal();
                return false;
            }

        }

        // Noufil 6766 02/10/2010 Hide modal popup
        function HideModalPopup(popupId) {
            debugger;
            //            document.getElementById('polmControl1_dd_QuickLegalDescription').value = "-1";
            //            document.getElementById('polmControl1_dd_damagevalue').value = "-1";
            //            document.getElementById('polmControl1_dd_Bodilydamage').value = "-1";
            //            document.getElementById('polmControl1_dd_attorney').value = "-1";
            //            try { document.getElementById('polmControl1_dd_Division').value = "1"; } catch(e){}
            //            document.getElementById('polmControl1_TxtLegalMatterDescription').value = ""; 
            //            document.getElementById('polmControl1_lblMessage').innerHTML = "";            
            //            document.getElementById('polmControl1_td_buttons').style.display = "";
            var modalPopupBehavior = $find(popupId);
            modalPopupBehavior.hide();
            return false;
        }

    </script>
    <style type="text/css">
        .Labelfrmmain, table.table td span.form-label {
            font-size: 14px !important;
        }

        .Labelfrmmain, table.table td span.form-label-blue {
            font-size: 14px !important;
            color: #11a2cf !important;
        }

        .clssubhead {
            /* font-weight: bold; */
            font-size: 14px !important;
            color: #3366cc !important;
            font-weight: normal !important;
            text-decoration: none !important;
            ;
        }

        tr.border_bottom td {
            border-bottom: 1pt solid black;
        }

        td {
            border: 0;
        }

        .customlabel label {
            font-family: 'Open Sans', Arial, Helvetica !important;
            font-weight: normal !important;
            color: #555555 !important;
            font-size: 14px !important;
        }

        #pageinfo table {
            width: auto !important;
            margin-top: 8px !important;
        }

        #commentpar a:link:hover {
            background-color: #11a2cf !important;
            color: white !important;
            width: auto !important;
            height: auto !important;
            font-weight: normal !important;
            font-size: 14px !important;
        }
        #pagecountdiv table {
            width:460px !important;
        }
        /*#11a2cf*/
    </style>
</head>
<body">
    <form id="Form2" method="post" runat="server">
        <aspnew:ScriptManager ID="ScriptManager2" runat="server" />
        <div class="page-container row-fluid container-fluid">
            <asp:Panel ID="pnl" runat="server">
                <uc1:ActiveMenu ID="ActiveMenu2" runat="server"></uc1:ActiveMenu>
            </asp:Panel>
            <section id="main-content" class="" id="TableMain">
           <section class="wrapper main-wrapper row" id="" style="">
            <div class="col-xs-12">
            <div class="alert alert-danger alert-dismissable fade in" style="display:none">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <asp:Label ID="lblMessage" runat="server"  ForeColor="Red" EnableViewState="False"></asp:Label>
                 </div>
            
                </div>
               <div class="col-xs-12">
                    <div class="page-title">

            <div class="pull-left">
                <!-- PAGE HEADING TAG - START --><h1 class="title">Leads</h1><!-- PAGE HEADING TAG - END -->                           

            </div>
            </div>
               </div>
               <div class="clearfix"></div>
               <section class="box" id="" style="">
                     <header class="panel_header">
                     <h2 class="title pull-left">Leads</h2>
                     <div class="actions panel_actions pull-right">
                     
                         <a class="box_toggle fa fa-chevron-down"></a>
                    
                </div>
            </header>
                   <div class="content-body">
                       <div class="row">

                   <div class="col-md-3">
                                                            <div class="form-group">
                              <label class="form-label">Start Date:</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <picker:datepicker id="calStartDate" runat="server" Dateformat="mm/dd/yyyy"  Enabled="true"></picker:datepicker>
                                   <%--  <ew:CalendarPopup ID="calStartDate" runat="server" EnableHideDropDown="True" ControlDisplay="TextBoxImage"
                                            CalendarLocation="Bottom" ShowGoToToday="True" AllowArbitraryText="False" Culture="(Default)"
                                            ShowClearDate="True" UpperBoundDate="12/31/9999 23:59:00" PadSingleDigits="True"
                                            ToolTip="Call Back Date" Font-Names="Tahoma" Font-Size="8pt" ImageUrl="../images/calendar.gif"
                                            Text=" " Width="80px">
                                            <SelectedDateStyle BackColor="Yellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Black" />
                                            <HolidayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <OffMonthStyle BackColor="AntiqueWhite" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Gray" />
                                            <TextboxLabelStyle CssClass="clstextarea" />
                                            <MonthHeaderStyle BackColor="Yellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Black" />
                                            <WeekdayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <GoToTodayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <ClearDateStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <WeekendStyle BackColor="LightGray" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <DayHeaderStyle BackColor="Orange" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <TodayDayStyle BackColor="LightGoldenrodYellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Black" />
                                        </ew:CalendarPopup>--%>

                                    </div>
                                                                </div>
                         </div>

                    <div class="col-md-3">
                                                            <div class="form-group">
                              <label class="form-label">End Date:</label>

                                <span class="desc"></span>
                                <div class="controls">
                                     <picker:datepicker id="calenddate"  runat="server" Dateformat="mm/dd/yyyy" Enabled="true"></picker:datepicker>
                                 <%--    <ew:CalendarPopup ID="calenddate" runat="server" EnableHideDropDown="True" ControlDisplay="TextBoxImage"
                                            CalendarLocation="Bottom" ShowGoToToday="True" AllowArbitraryText="False" Culture="(Default)"
                                            ShowClearDate="True" UpperBoundDate="12/31/9999 23:59:00" PadSingleDigits="True"
                                            ToolTip="Call Back Date" Font-Names="Tahoma" Font-Size="8pt" ImageUrl="../images/calendar.gif"
                                            Text=" " Width="80px">
                                            <SelectedDateStyle BackColor="Yellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Black" />
                                            <HolidayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <OffMonthStyle BackColor="AntiqueWhite" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Gray" />
                                            <TextboxLabelStyle CssClass="clstextarea" />
                                            <MonthHeaderStyle BackColor="Yellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Black" />
                                            <WeekdayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <GoToTodayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <ClearDateStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <WeekendStyle BackColor="LightGray" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <DayHeaderStyle BackColor="Orange" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                ForeColor="Black" />
                                            <TodayDayStyle BackColor="LightGoldenrodYellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                Font-Size="XX-Small" ForeColor="Black" />
                                        </ew:CalendarPopup>--%>
                                    </div>
                                                                </div>
                         </div>

                       <div class="col-md-3">
                                                            <div class="form-group">
                              <%--<label class="form-label"></label>--%>
                                <span class="desc"></span>
                                <div class="controls">
                                     <asp:CheckBox ID="cb_showall" runat="server" Text="All Dates" CssClass="checkbox-custom"
                                            Checked="true" />
                                    </div>
                                                                </div>
                         </div>

                    <div class="col-md-3">
                                                            <div class="form-group">
                            <%--  <label class="form-label">Date</label>--%>
                 <span class="desc"></span>
                                <div class="controls">
                                    <asp:CheckBox ID="cb_AllFollowUpDate" runat="server" Text="All Follow-Up Dates" CssClass="checkbox-custom"
                                            Checked="false" />
                                    </div>
                                                                </div>
                         </div>

                    <div class="clearfix"></div>


                      <div class="col-md-6">
                                                            <div class="form-group">
                              <label class="form-label">Practice Area:</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <asp:DropDownList ID="ddl_practiceArea" runat="server" CssClass="form-control" Width="">
                                        </asp:DropDownList>
                                    </div>
                                                                </div>
                         </div>

                    <div class="col-md-6">
                                                            <div class="form-group">
                              <label class="form-label">Call Back Status:</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <asp:DropDownList ID="dd_callback" runat="server" CssClass="form-control"
                                            Width="">
                                            <asp:ListItem Text="Active" Value="1" Selected="True" Enabled="true"></asp:ListItem>
                                            <asp:ListItem Text="Close" Value="0" Selected="False" Enabled="true"></asp:ListItem>
                                        </asp:DropDownList>
                                    </div>
                                                                </div>
                         </div>

                    <div class="clearfix"></div>
                     <div class="col-md-12">
                                                            <div class="form-group">
                              <%--<label class="form-label">Call Back Status:</label>--%>
                                <span class="desc"></span>
                                <div class="controls">
                                     <asp:Button ID="btn_update1" runat="server" Text="Submit" CssClass="btn btn-primary" OnClick="btn_update1_Click1">
                                        </asp:Button>

                                    <%-- <asp:DropDownList ID="DropDownList1" CausesValidation="False" AutoPostBack="true" runat="server" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged1">
                                         <asp:ListItem Value="1">1</asp:ListItem>
                                         <asp:ListItem Value="2">2</asp:ListItem>
                                         <asp:ListItem Value="3">3</asp:ListItem>
                                         <asp:ListItem Value="4">4</asp:ListItem>
                                     </asp:DropDownList>--%>

                                    </div>
                                                                </div>
                         </div>

                    </div>
                        </div>
                   </section>

               <section>

           <aspnew:UpdatePanel ID="UpdatePanel1" runat="server" RenderMode="Inline">
               <ContentTemplate>
                   <div class="clearfix"></div>
                   <section class="box" id="" style="">
                       <header class="panel_header">
                     <h2 class="title pull-left">Leads</h2>
                     <div class="actions panel_actions pull-right">
                     
                         <a class="box_toggle fa fa-chevron-down"></a>
                    
                </div>
                         <div class="row">
                             <div class="col-md-5"></div>
                                 <div id="pagecountdiv" class="col-md-5" style="padding:6px;">
                                <uc3:PagingControl ID="Pagingctrl" runat="server" />
                             </div>
                             

            </header>
                           
                         <div class="content-body">
                <div class="row">

                   <div class="col-md-12">
                                                            <div class="form-group">
                              <label class="form-label">Start Date:</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <div class="table-responsive" data-pattern="priority-columns">
                                      <asp:GridView ID="gv_records" runat="server" AutoGenerateColumns="False" Width="100%"
                                                        CellPadding="3" CssClass="table table-small-font table-bordered table-striped" OnRowCommand="gv_records_RowCommand"
                                                        OnRowDataBound="gv_records_RowDataBound" ShowHeader="False" AllowPaging="true"
                                                        PageSize="20" OnPageIndexChanging="gv_records_PageIndexChanging">
                                                        <Columns>
                                                            <asp:TemplateField>
                                                                <ItemTemplate>
                                                                    <table class="table-responsive" id="Table1" cellspacing="1" cellpadding="0" width="100%"
                                                                        align="center" border="0">
                                                                        <tr>
                                                                            <td align="left"  height="20" valign="middle">
                                                                                &nbsp;
                                                                            </td>
                                                                            <td align="left"  height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="lbl_CallerID" runat="server" CssClass="form-label-blue">Caller ID :</asp:Label>
                                                                            </td>
                                                                            <td   height="20" align="left" style="width: 100%">
                                                                                <asp:Label ID="lbl_CallerIDValue" runat="server" Text='<%# Eval("[CallerId]") %>' CssClass="form-label-blue"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>    
                                                                             <td valign="middle" align="left"  rowspan="7" style="width: 8%">
                                                                                <asp:HyperLink ID="hl_SerialNumber" runat="server" Text='<%# Eval("Sno") %>' CssClass="clssubhead"></asp:HyperLink>
                                                                                <asp:HiddenField ID = "hf_ticketId" runat ="server" Value = '<%# Eval("TicketID") %>' />
                                                                            </td>
                                                                            <td align="left"  height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label11" runat="server" CssClass="form-label-blue">Name:</asp:Label>
                                                                            </td>
                                                                            <td   height="20" align="left" style="width: 100%">
                                                                                <asp:Label ID="lnk_name" runat="server" Text='<%# Eval("[Name]") %>' CssClass="form-label-blue"></asp:Label>
                                                                                <asp:Label ID="lbl_legalid" runat="server" Text='<%# Eval("ID") %>' CssClass="Label"
                                                                                    ForeColor="#123160" Visible="False">
                                                                                </asp:Label>
                                                                            </td>
                                                                            <td align="left" valign="top"  height="20"
                                                                                rowspan="4" style="width: 175px">
                                                                                <asp:Label ID="lbl_phone" runat="server" Text='<%# Eval("Phone") %>' ></asp:Label><br />
                                                                                <asp:Label ID="lbl_fax" runat="server" Text='<%# Eval("Fax") %>'> </asp:Label><br>
                                                                                <asp:LinkButton ID="lnk_Comment" CssClass="btn btn-primary" runat="server" Width="130px" CommandName="Add_gv_Comments"
                                                                                    Text="Add Comments"></asp:LinkButton>
                                                                                <asp:LinkButton ID="lnkShowPolm" Visible="false" runat="server" Width="130px" CommandName="AddPolm"
                                                                                    Text="Add Polm"></asp:LinkButton>
                                                                                <br>
                                                                            </td>
                                                                            <td valign="top" width="205"  height="20" rowspan="4" align="left">
                                                                                <div style="width: 280px; height: 83px; overflow: auto;">
                                                                               <%-- Muhammad Nadir siddiqui 9158 04/15/2011--%>
                                                                                    <asp:Label ID="lbl_comment" runat="server" Text='<%# Eval("Repcomments") %>' ></asp:Label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left"  height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label1" runat="server">Call Back Status :</asp:Label>
                                                                            </td>
                                                                            <td align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="lbl_callback" runat="server" Text='<%# Eval("calldescription") %>'
                                                                                    CssClass="form-label" ForeColor="#123160">
                                                                                </asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label2" runat="server" CssClass="form-label-blue">Email Received Date 
                                                                                :</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="lbl_recdate" runat="server" Text='<%# Eval("recdate") %>' CssClass="form-label"
                                                                                    ForeColor="#123160">
                                                                                </asp:Label>
                                                                            </td>
                                                                        </tr>                                                                        
                                                                        <tr>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label4" runat="server" CssClass="form-label-blue">Language :</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="Label7" runat="server" Text='<%# Eval("Language") %>'
                                                                                    CssClass="form-label" ForeColor="#123160">
                                                                                </asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label12" runat="server" CssClass="form-label-blue">Email Address:</asp:Label>
                                                                            </td>
                                                                            <td   height="20" align="left" style="width: 100px">
                                                                                <asp:Label ID="lbl_emailadress" runat="server" Text='<%# Eval("EmailAddress") %>'
                                                                                    CssClass="form-label" ForeColor="#123160" Font-Bold="True"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label13" runat="server" CssClass="form-label-blue">Question/Comments:</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="lbl_Question" runat="server" Text='<%# Eval("Comments") %>' CssClass="form-label"
                                                                                    ForeColor="#123160"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <%-- Fahad 6429 Add New Row--%>
                                                                        <tr id="trPracArea" runat="server">
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="lblPracArea" runat="server" CssClass="form-label-blue">Practice Area:</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="Label6" runat="server" Text='<%# Eval("PracticeArea") %>' CssClass="form-label"
                                                                                    ForeColor="#123160"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr id="trFollowUpdate" runat="server">
                                                                            <td>
                                                                            </td>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label5" runat="server" CssClass="form-label-blue">Follow-Up date:</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="lblfollowupdate" runat="server" Text='<%# Eval("followupdate") %>'
                                                                                    CssClass="form-label" ForeColor="#123160"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <%-- Haris Ahmed 10181 04/10/2012 Add IPAddress and SaleRep Columns--%>
                                                                        <tr id="trIPAddress" runat="server">
                                                                            <td>
                                                                            </td>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label8" runat="server" CssClass="form-label-blue">IP Address:</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="lblIPAddress" runat="server" Text='<%# Eval("IPAddress") %>'
                                                                                    CssClass="form-label" ForeColor="#123160"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                         <tr id="trSaleRep" runat="server">
                                                                            <td>
                                                                            </td>
                                                                            <td align="left"   height="20" style="width: 40%"
                                                                                valign="middle">
                                                                                <asp:Label ID="Label9" runat="server" CssClass="form-label-blue">Sales Rep:</asp:Label>
                                                                            </td>
                                                                            <td   align="left" style="height: 20px;
                                                                                width: 100%">
                                                                                <asp:Label ID="lblSaleRep" runat="server" Text='<%# Eval("SaleRep") %>'
                                                                                    CssClass="form-label" ForeColor="#123160"></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <%-- Fahad 6429 end Add New Row--%>
                                                                         
                                                                        <tr>
                                                                            <td align="left" colspan="3">
                                                                                <div class="well-sm"></div>
                                                                                <asp:Label ID="lbl_sitetype" CssClass="bg-primary" runat="server"  Font-Bold="True" Text='<%# Eval("sitetype") %>'></asp:Label> <%--Kashif jawed 9043 03/28/2011 set text for lbl_sitetype--%> 
                                                                            </td>
                                                                        </tr>
                                                                        <tr ID = "tr_clientInfo" runat = "server">
                                                                            <td align="left" colspan="3" >
                                                                                <asp:Label ID="lblClientInfo" runat="server" BackColor="#FFCC66" Font-Bold="True" Text='<%# Eval("CelintInfo") %>'></asp:Label> <%--Kashif jawed 9043 03/28/2011 set text for lbl_sitetype--%> 
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td >
                                                                                &nbsp;
                                                                            </td>
                                                                            <td  colspan="4">
                                                                           <%-- Muhammad Nadir Siddiqui 9158 04/15/2011--%>
                                                                                
                                                                                <asp:HiddenField ID="hf_GeneralComments" runat="server" Value='<%# Eval("Comments") %>' />
                                                                                <%--<asp:HiddenField ID="hf_question" runat="server" Value='<%# Eval("Comments") %>' />--%>
                                                                                <%--<asp:HiddenField ID="hf_email" runat="server" Value='<%# Eval("EmailAddress") %>' />--%>
                                                                                <%--<asp:HiddenField ID="hf_onlinecallback" runat="server" Value='<%# DataBinder.Eval(Container, "DataItem.callback") %>' />--%>
                                                                                <%--<asp:HiddenField ID="hf_comm" runat="server" Value='<%# Eval("legal") %>'/>--%>
                                                                                <asp:Label ID="hf_onlinecallback" style="display:none;" runat="server" Text='<%# DataBinder.Eval(Container, "DataItem.callback") %>'></asp:Label>
                                                                                <asp:Label ID="hf_email" style="display:none;" runat="server" Text='<%# Eval("EmailAddress") %>'></asp:Label>
                                                                                <asp:Label ID="hf_question" style="display:none;" runat="server" Text='<%# Eval("Comments") %>'></asp:Label>
                                                                                <asp:Label ID="hf_comm" style="display:none;" runat="server" Text='<%# Eval("legal") %>'></asp:Label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="height: 11px" width="780" 
                                                                                height="11">
                                                                                &nbsp;
                                                                            </td>
                                                                            <td colspan="4" height="11" style="height: 11px"
                                                                                width="780">
                                                                                &nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <hr style="border-top: 1px solid #11a2cf;"/>
                                                                </ItemTemplate>
                                                            </asp:TemplateField>
                                                        </Columns>
                                                        <PagerStyle HorizontalAlign="Center" />
                                                        <PagerSettings Mode="NextPreviousFirstLast" NextPageText="&#160;Next &gt;" PreviousPageText="&lt; Previous"
                                                            FirstPageText="&lt;&lt; First Page&#160;&#160;&#160;" LastPageText="&#160;&#160;&#160;Last Page &gt;&gt;" />
                                                    </asp:GridView>

                                        </div>

                                    </div>
                                                                </div>
                         </div>

                    </div>
                     </div>
                   </section>
                   <div class="clearfix"></div>
                    <ajaxToolkit:ModalPopupExtender ID="Modal_gvrecords" runat="server" TargetControlID="Button1"
                                                        PopupControlID="pnl_online" BackgroundCssClass="modalBackground" HideDropDownList="false"
                                                        CancelControlID="btn_onlinecancel">
                  
                                                    </ajaxToolkit:ModalPopupExtender>
               
                                                    <asp:Button ID="btn" runat="server" Style="display: none" />
                                                    <asp:Button ID="Button1" runat="server" Style="display: none" />


                                              <%--<asp:Panel ID="pnl_online" runat="server" Height="100px" Width="420px" Style="display: none;">
                    
                                                      <div class="form-group row">
                                                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                                        <div class="col-sm-10">
                                                          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                                        </div>
                                                      </div>
                                             </asp:Panel>--%>



                <asp:Panel ID="pnl_online" runat="server" Height="" Width="800px" Style="display: none;">
                    
                    <section id="main-content-popup class="addnewleadpopup">
                    <section class="wrapper main-wrapper row" style="">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Update Comments</h2>

                          <%--  <div class="actions panel_actions remove-absolute pull-right">
                       
                	            <a class="box_toggle fa fa-chevron-down"></a>
                            </div>--%>
                      </header>
                        <div class="content-body">
                   <div class="table-responsive">
      <table id="Table2" class="table-responsive"  style="height: 200px; width: 589px;background:white;" cellpadding="0" cellspacing="0">
      <tbody>
          <input type="hidden" id="fhtest" runat="server" title='<script type="text/javascript">alert();</script>' />
         <%--<tr>
          <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
          <td><input type="text" class="form-control" value="13-Jul-2015" /></td>
          <td><input type="text" class="form-control" value="$12355.12" /></td>
          <td>
            <select class="form-control">
                            <option>Monthly</option>
                            <option>Yearly</option>
                        </select>
          </td>
          <td><input type="text" class="form-control" value="another long value" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td><input type="text" class="form-control" value="some val" /></td>
          <td>$505.79</td>
        </tr>--%>

                                                            <%--<tr>
                                                                <td class="" align="left" style="height: 32px;background-image:url(../Images/subhead_bg.gif)"
                                                                    width="420" colspan="2">
                                                                    &nbsp;Update Comments
                                                                </td>
                                                            </tr>--%>
                                                            <tr >
                                                                <td valign="middle">
                                                                    <span class="clssubhead">&nbsp;Name:</span>
                                                                </td>
                                                                <td style="height: 22px; text-align: left;">
                                                                    &nbsp;<asp:Label ID="lbl_onlinename" runat="server" CssClass="Label"></asp:Label><asp:Label
                                                                        ID="Label3" runat="server" Visible="False" CssClass="Label"></asp:Label>
                                                                    &nbsp;&nbsp;&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td valign="middle">
                                                                    <span class="clssubhead">&nbsp;Email Address:</span>
                                                                </td>
                                                                <td width="160" style="height: 22px; text-align: left">
                                                                    &nbsp;<asp:Label ID="lbl_onlineemail" runat="server" CssClass="Label"></asp:Label>
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td valign="middle" align="left">
                                                                    <span class="clssubhead">&nbsp;Contact Number:</span>
                                                                </td>
                                                                <td style="text-align: left; height: 22px;">
                                                                    &nbsp;<asp:Label ID="lbl_ph" runat="server" CssClass="Label"></asp:Label>
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td valign="middle">
                                                                    <span class="clssubhead">&nbsp;Question:</span>
                                                                </td>
                                                                <td style="text-align: left; width: 270px">
                                                                    <div style="width: 270px; height: 55px; overflow: auto; vertical-align: middle" runat="server"
                                                                        id="divQuestion">
                                                                        &nbsp;<asp:Label ID="lbl_onlinequestion" runat="server" CssClass="Label"></asp:Label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td valign="middle">
                                                                    <span class="clssubhead">&nbsp;Call Back:</span>
                                                                </td>
                                                                <td style="text-align: left; height: 23px; width: 160px">
                                                                    <asp:DropDownList ID="ddl_onlinecallback" runat="server" CssClass="form-control inline-textbox" Width="97%">
                                                                    </asp:DropDownList>
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td valign="middle" style="width: 136px">
                                                                    <span class="clssubhead">&nbsp;Current Follow-Up date:</span>
                                                                </td>
                                                                <td style="text-align: left; height: 23px;">
                                                                    &nbsp;<asp:Label ID="lbl_currentFollowUp" runat="server" CssClass="Label"></asp:Label>
                                                                </td>
                                                            </tr>
                                                                
                                                            <tr >
                                                                <td valign="middle">
                                                                    <span class="clssubhead">&nbsp;Next Follow-Up date:</span>
                                                                </td>
                                                                <td style="text-align: left; height: 24px; width: 160px">
                                                                    <%--<picker:datepicker id="calfollowupdate" runat="server"  Width="90px" JavascriptOnChangeFunction="CheckDate" max="12/31/9999" Dateformat="mm/dd/yyyy" Enabled="true"></picker:datepicker>--%>
                                                                    <div>
                                                                         <div class="input-group date" id="">
                                     <asp:TextBox ID="calfollowupdatenew" CssClass="form-control datepicker" data-format="mm/dd/yyyy" runat="server"></asp:TextBox>
                                    <label class="input-group-addon btn" for="testdate" id="addonondt">
                                       <span class="fa fa-calendar"></span>
                                    </label> </div>
                                                                    <%--<picker:datepicker id="calfollowupdatenew" runat="server" Dateformat="mm/dd/yyyy" ></picker:datepicker>--%>

                                                                        <%--&nbsp;<ew:CalendarPopup ID="calfollowupdate" runat="server" EnableHideDropDown="True" 
                                                                            ControlDisplay="TextBoxImage" CalendarLocation="Bottom" ShowGoToToday="True"
                                                                            AllowArbitraryText="False" Culture="(Default)" ShowClearDate="True" UpperBoundDate="12/31/9999 23:59:00"
                                                                            PadSingleDigits="True" ToolTip="Follow-Up Date" Font-Names="Tahoma" Font-Size="8pt"
                                                                            ImageUrl="../images/calendar.gif" Text=" " Width="80px" JavascriptOnChangeFunction="CheckDate">
                                                                            <SelectedDateStyle BackColor="Yellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                                                Font-Size="XX-Small" ForeColor="Black" />
                                                                            <HolidayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                                                ForeColor="Black" />
                                                                            <OffMonthStyle BackColor="AntiqueWhite" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                                                Font-Size="XX-Small" ForeColor="Gray" />
                                                                            <TextboxLabelStyle CssClass="clstextarea" />
                                                                            <MonthHeaderStyle BackColor="Yellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                                                Font-Size="XX-Small" ForeColor="Black" />
                                                                            <WeekdayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                                                ForeColor="Black" />
                                                                            <GoToTodayStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                                                ForeColor="Black" />
                                                                            <ClearDateStyle BackColor="White" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                                                ForeColor="Black" />
                                                                            <WeekendStyle BackColor="LightGray" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                                                ForeColor="Black" />
                                                                            <DayHeaderStyle BackColor="Orange" Font-Names="Verdana,Helvetica,Tahoma,Arial" Font-Size="XX-Small"
                                                                                ForeColor="Black" />
                                                                            <TodayDayStyle BackColor="LightGoldenrodYellow" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                                                                Font-Size="XX-Small" ForeColor="Black" />
                                                                        </ew:CalendarPopup>--%>
                                                                    </div>
                                                                </td>
                                                            </tr>
           <tr >
                                                                <td valign="middle" style="width: 136px">
                                                                   
                                                                </td>
                                                                <td style="text-align: left; height: 23px;">
                                                                   
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td>
                                                                    <span class="clssubhead">&nbsp;Comments:</span>
                                                                </td>
                                                                <td align="left">
                                                                    <div style="width: 270px; height: 83px; overflow: auto;" runat="server" id="divCommentOnline">
                                                                        &nbsp;<asp:Label ID="lblOldOnlineComments" runat="server" CssClass="Label" Width="250px"></asp:Label>
                                                                    </div>
                                                                    <asp:TextBox ID="txt_onlinecomment" runat="server" Height="62px" Text="" TextMode="MultiLine" style="resize: vertical;"
                                                                        Width="270px" CssClass="form-control inline-textbox"></asp:TextBox>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td colspan="2">
                                                                    <asp:HiddenField ID="hf_onlineoldcomments" runat="server" />
                                                                </td>
                                                            </tr>
      </tbody>
    </table>
                     </div>
                            <div class="well-sm"></div>
                            <div class="row">
                                <div class="co-md-12 pull-right">
                                <asp:Button ID="btn_onlineupdate" runat="server" CssClass="btn btn-primary" Text="Update" OnClick="btn_onlineupdate_Click" OnClientClick="return checkcomments(1);"  />
                                 <asp:Button ID="btn_onlinecancel" runat="server" CssClass="btn btn-primary" Text="Cancel"/>
                            </div>
                            </div>
                            

                            </div>    
                                
                </section>     



                 </section>
            </section>
</asp:Panel>


                                                    


            <ajaxToolkit:ModalPopupExtender ID="mpeShowPolm" runat="server" TargetControlID="polmHiddenButton"
                                PopupControlID="pnlPolm" BackgroundCssClass="modalBackground" DropShadow="false">
                            </ajaxToolkit:ModalPopupExtender>
                            <asp:Button runat="server" ID="polmHiddenButton" Text="More" Style="display: none;" />


                <asp:Panel ID="pnlPolm" runat="server">
                <section id="main-content-popup" class="addnewleadpopup">
                    <section class="wrapper main-wrapper row" style="">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Consultation Request</h2>

                            <div class="actions panel_actions remove-absolute pull-right" >
                       
                	            <a id="lbtn_close2" class="box_toggle fa fa-remove" runat="server" onclick="return HideModalPopup('mpeShowPolm');"></a>
                            </div>
                      </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <uc2:PolmControl ID="polmControl1" runat="server" />
                                </div>
                            </div>
                        </div>
                    </section>  
                 </section>
            </section>

</asp:Panel>

                           




               </ContentTemplate>
           </aspnew:UpdatePanel>


        </section>
        </div>
        </section>
        
        
        </div>
    </form>
    <script src="../assets/js/jquery.easing.min.js" type="text/javascript"></script>
   <%-- <script src="../assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="../assets/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-ui/smoothness/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/datepicker/js/datepicker.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/jquery-1.11.2.min.js"><\/script>');</script>
    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js" type="text/javascript"></script>--%>
    <!-- END CORE TEMPLATE JS - END -->

    <script type="text/javascript">

        //document.getElementById("calfollowupdate_div").style.zIndex = 10003;
        //document.getElementById("calfollowupdate_monthYear").style.zIndex = 10004;
        $(document).ready(function () {
            $('#calStartDate_txtDate, #calenddate_txtDate').focusin(function () {
                $('#calStartDate_txtDate, #calenddate_txtDate').show();
            });

            $("#errorAlert").on('shown.bs.modal', function (event) {
                document.getElementById("pnl_online").style.zIndex = 1;
            });
            $("#errorAlert").on('hidden.bs.modal', function (event) {
                document.getElementById("pnl_online").style.zIndex = 10004;
            });

            $('#polmControl1_TxtLegalMatterDescription').removeClass('clsInputadministration').addClass('form-control');
            //$("#pnlPolmli > select").each(function (i, e) {
            //    debugger;;
            //    alert($(this).text())
            //});

        });

    </script>
    <div id="errorAlert" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body" style="min-height: 93px !important; max-height: 162px;">
                    <p id="txtErrorMessage">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>
    <script src="../assets/plugins/datepicker/js/datepicker.js" type="text/javascript"></script>

    <!-- CORE TEMPLATE JS - START -->
    <script type="text/javascript">
        $('.datepicker').datepicker({ autoclose: true });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#mainmenu li, #limatter").attr("class", "");
            $("#ulmatter").css("display", "none");
            $("#liactivity").attr("class", "open");
            $("#ulactivity").css("display", "block");
            $("#ActiveMenu2_A18").addClass("active");
            $("#ActiveMenu2_A18 > a li > span:nth-child(2)").addClass("arrow open");

        });
    </script>
</body>
</html>
