<%@ Register TagPrefix="uc1" TagName="ActiveMenu" Src="../WebControls/ActiveMenu.ascx" %>
<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.error" Codebehind="error.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>error</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<TABLE id="Table1" style="Z-INDEX: 103; LEFT: 88px; POSITION: absolute; TOP: 24px" cellSpacing="0"
				cellPadding="0" width="780" align="center" border="0">
				<TR>
					<TD style="HEIGHT: 31px" height="31">
						<uc1:activemenu id="ActiveMenu1" runat="server"></uc1:activemenu></TD>
				</TR>
				<TR>
					<TD style="HEIGHT: 185px">&nbsp;
						<asp:ImageButton id="ImageButton1" runat="server" BorderStyle="Double" ForeColor="White" ImageUrl="Images/error.jpg"
							Height="64px"></asp:ImageButton>&nbsp;
						<asp:Label id="lbl_error" runat="server" Height="47px" ForeColor="Red" Font-Bold="True" Font-Size="Large"
							BorderStyle="Solid" CssClass="label" BackColor="White" BorderColor="Red" Width="521px">An unexpected error occurred in the application</asp:Label>&nbsp;</TD>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
