<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="updatepagecount.aspx.cs" Inherits="lntechNew.updatepagecount" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btn" runat="server" OnClick="btn_Click" Text="Get and Update" /></div>
    </form>
</body>
</html>
