<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CaseSummaryCR.aspx.cs" Inherits="lntechNew.Reports.CaseSummaryCR" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>New Case Summary</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <tr id="trpdf" height=100%>
    
 
					<td colSpan="3">&nbsp; <iframe tabIndex="0" src="RptCaseSummary.aspx?ticketID=<%= ViewState["Ticketid"]%>&setting=<%=ViewState["setting"]%> " frameBorder="1" width="98%" scrolling="auto"
							height="98%"></iframe>
					</td>
				</tr>
    </div>
    </form>
</body>
</html>
