<%@ Page language="c#" AutoEventWireup="false" Inherits="Chap0601.frame" Codebehind="frame.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Frame</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script language="javascript">		
			function CallDestroy()
			{
				window.open("../Cleanup.aspx","Cleanup","status=no,toolbar=no,location=no,menu=no,scrollbars=no,width=1,height=1");
				self.focus()
			}
		</script>
	</HEAD>
					<!--onunload="CallDestroy();" -->
	<body MS_POSITIONING="GridLayout" >
		<form id="Form1" method="post" runat="server" >
			<iframe src="temp/<%=Session["DocNm"]%>" width="100%" height="100%" scrolling="auto" frameborder="1">
			</iframe>
		</form>
	</body>
	
</HTML>
