<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.Reports.frmBatchEntry" Codebehind="frmBatchEntry.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>frmBatchEntry</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script language="javascript">
	
	   function closewin()
	    {
	  //  a;
			opener.location.reload();
			
			self.close();	   
	    }	    
		
		</script>
	</HEAD>
	<body MS_POSITIONING="GridLayout" >
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
