﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmSendLetterOfRepBatch.aspx.cs" Inherits="HTP.Reports.frmSendLetterOfRepBatch" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
