﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewFaxControl.aspx.cs"
    Inherits="lntechNew.Reports.ViewFaxControl" %>

<%@ Register Src="~/WebControls/faxcontrol.ascx" TagName="Faxcontrol" TagPrefix="Fc" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link rel="stylesheet" type="text/css" href="../scripts/subModal.css" />
</head>
<body>
    <form id="form1" runat="server">
    <aspnew:ScriptManager ID="ScriptManager2" runat="server" />
    <div style="width: 100%; height: 100%">
        <Fc:Faxcontrol ID="Faxcontrol1" runat="server" />
    </div>
    </form>
</body>
</html>
