<%@ Control Language="c#" AutoEventWireup="false" Inherits="lntechNew.WebControls.Footer" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" Codebehind="Footer.ascx.cs" %>
<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table18" tabIndex="55">
	<tr>
		<td valign="top"> © 2006 Legal Houston Traffic System, All Rights 
				Reserved.<br>
				powered by <a href="http://www.lntechnologies.com" target="_blank">LN Technologies®</a></td>
	</tr>
</table>
