<%@ Control Language="c#" AutoEventWireup="false" Inherits="lntechNew.WebControls.LoginMenu" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" Codebehind="LoginMenu.ascx.cs" %>
<HTML>
	<HEAD>
		<SCRIPT language="JavaScript" src="../LoginMenu/milonic_src.js" type="text/javascript"></SCRIPT>
		<Script language="JavaScript" src="../LoginMenu/mmenuns4.js"></Script>
		<Script language="JavaScript" src="../LoginMenu/mmenudom.js"></Script>
		<SCRIPT language="JavaScript" src="../LoginMenu/menu_data.js" type="text/javascript"></SCRIPT>
	</HEAD>
	<body>
	</body>
</HTML>
