<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ArraignmentDocket.aspx.cs" Inherits="lntechNew.Reports.ArraignmentDocket" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Arraignment Docket</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <table border="1" cellpadding="0" cellspacing="0" width="100%" height ="100%">
         <tr>
        
            <td>
     
							
	    <iframe src="frmArraignmentDocket.aspx?day=<%=ViewState["Day"] %>&Flag=<%=ViewState["Flag"] %>" width="100%" height="95%" scrolling="auto" frameborder="4">
						</iframe> 
						
						
			</td>
							</tr>
        </table>
    </div>
    </form>
</body>
</html>
