﻿<%@ Page language="c#" AutoEventWireup="false" Inherits="HTP.Reports.frmNisiLetters" Codebehind="frmNisiLetters.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Nisi Word</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<meta name="CODE_LANGUAGE" Content="C#">		
		<script>
		function refresh()
		{				
		 window.opener.location.reload();
		}
		</script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:label id="lbl_message" runat="server">Label</asp:label>
		</form>
	</body>
</HTML>
