<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HccCriminalCase.aspx.cs" Inherits="HTP.Reports.HccCriminalCase" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Criminal Case Details</title>
</head>
<body>
    <form id="form1" runat="server">
    
    </form>
</body>
</html>
