<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RptCeritifiedLORPrint.aspx.cs"
    Inherits="HTP.Reports.RptCeritifiedLORPrint" %>

<%--Faique Ali 11127 07/10/2013 Rpt issue <%@ Register TagPrefix="cr" Namespace="CrystalDecisions.Web" Assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" %>
--%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Certified Letter of Rep</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
