<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TEST.aspx.cs" Inherits="lntechNew.Reports.TEST" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml" >

<head runat="server">
 <title>Test General Comments Popup</title>
  
   <script language="jscript" type="text/jscript">
   
      function Validation()
		{
		     
             var ticketid = 6071;
             var empid = 3992;
             var commentsid = 1;
             var path="../Reports/GeneralComments.aspx?ticketid="+ticketid + "&empid=" + empid + "&commentsid=" + commentsid;
             window.open(path,'',"fullscreen=no,toolbar=no,left=0,top=0,status=no,menubar=no,resizable=no,width=580,height=265,scrollbars=no");
             return false;        
		  
		}
		
      </script>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server"  Text="Button" OnClientClick="return Validation();" /></div>
    </form>
</body>
</html>
