<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestOCRForm.aspx.cs" Inherits="lntechNew.WebScan.TestOCRForm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        &nbsp;<asp:TextBox ID="txt_name" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="OCR" OnClick="Button1_Click" />
        <asp:Button ID="Button2" runat="server" Text="read binary" OnClick="Button2_Click" />
        </div>
    </form>
</body>
</html>
