<%@ Page language="c#" AutoEventWireup="false" Inherits="HTP.Reports.PotentialVisaClientsReport" Codebehind="PotentialVisaClientsReport.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>BatchPDF</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script>
		function refresh()
		{				
		 window.opener.location.reload();
		}
		</script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<!--		<iframe width="100%" height="95%" scrolling="auto" frameborder="1"></iframe> -->
			<asp:label id="lbl_message" runat="server">Label</asp:label>
		</form>
	</body>
</HTML>
