<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PrintAllBonds.aspx.cs" Inherits="lntechNew.Reports.PrintAllBonds" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Print Bonds</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table border="1" cellpadding="0" cellspacing="0" width="100%" height ="100%">
         <tr>
        
            <td>
        <!--<iframe src="fmBondSummary.aspx?sTVIDS=<%=ViewState["sTVIDS"]%>" frameBorder="1"  width="100%" scrolling="auto"
							height="95%" ></iframe>-->
							
	    <iframe src="frmPrintAllBonds.aspx" width="100%" height="95%" scrolling="auto" frameborder="4">
						</iframe> 
						
						
			</td>
							</tr>
        </table>
    </div>
    </form>
</body>
</html>
