﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="rptlabelimages.aspx.cs"
    Inherits="lntechNew.Reports.rptlabelimages" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Label Images Rpeorts</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <%--<CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" 
            AutoDataBind="True" Height="1106px" Width="876px" />--%>
    </div>  
    </form>    
</body>
</html>
