<%@ Page Language="c#" AutoEventWireup="false" Inherits="lntechNew.Reports.Rptreceipt"
    CodeBehind="Rptreceipt.aspx.cs" %>

<%--<%@ Register TagPrefix="cr" Namespace="CrystalDecisions.Web" Assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" %>--%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
<head>
    <title>RptWordLetter</title>
    <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
    <meta content="C#" name="CODE_LANGUAGE">
    <meta content="JavaScript" name="vs_defaultClientScript">
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
</head>
<body ms_positioning="GridLayout">
    <form id="Form1" method="post" runat="server">
    &nbsp;</form>
</body>
</html>
