﻿<%@ Page Language="C#" %>

<%
    
    var q = Request.QueryString.AllKeys;

       %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Scan Data</title>
    <script type="text/javascript" src="Resources/dynamsoft.webtwain.initiate.js"></script>
    <script type="text/javascript" src="Resources/dynamsoft.webtwain.config.js"></script>
    <script type="text/javascript">
        window.onunload = function () {
            window.opener.location.href = window.opener.location.href;

            if (window.opener.progressWindow) {
                window.opener.progressWindow.close()
            }
            window.close();
        }; 
</script>
</head>
<body>
    <select size="1" id="source" style="position: relative; width: 220px;"></select>
    <input type="button" value="Scan" onclick="AcquireImage();" />
    <%--<input type="button" value="Load" onclick="LoadImage();" />--%>
    <input type="button" value="Upload" onclick="UploadImage();" />

    <input type="hidden" id="hdn_docId" value=  "<%= Request.QueryString["DocID"] %>" />
    <input type="hidden" id="hdn_txtbID" value=  "<%= Request.QueryString["txtbID"] %>" />
    <input type="hidden" id="hdn_empId" value=  "<%= Request.QueryString["empId"] %>" />
    <input type="hidden" id="hdn_sid" value=  "<%= Request.QueryString["sid"] %>" />
    <input type="hidden" id="hdn_Desc" value=  "<%= Request.QueryString["Desc"] %>" />
    <input type="hidden" id="hdn_subDoc" value=  "<%= Request.QueryString["subDoc"] %>" />
    <input type="hidden" id="hdn_Operation" value=  "<%= Request.QueryString["Operation"] %>" />
    <input type="hidden" id="hdn_name" value=  "<%= Request.QueryString["name"] %>" />
    <br />
    <%--<label>
        <input type="radio" value="jpg" name="ImageType" id="imgTypejpeg" checked="checked" />JPEG</label>--%>
    <%--<label>
        <input type="radio" value="tif" name="ImageType" id="imgTypetiff" />TIFF</label>--%>
    <%--<label>
        <input type="radio" value="pdf" name="ImageType" id="imgTypepdf" />PDF</label>--%>
    

    <!-- dwtcontrolContainer is the default div id for Dynamic Web TWAIN control.
    If you need to rename the id, you should also change the id in the dynamsoft.webtwain.config.js accordingly. -->
    <div id="dwtcontrolContainer"></div>

    <script type="text/javascript">
        Dynamsoft.WebTwainEnv.RegisterEvent('OnWebTwainReady', Dynamsoft_OnReady); // Register OnWebTwainReady event. This event fires as soon as Dynamic Web TWAIN is initialized and ready to be used

        var DWObject;

        function Dynamsoft_OnReady() {
            DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'
            if (DWObject) {
                var count = DWObject.SourceCount; // Populate how many sources are installed in the system
                for (var i = 0; i < count; i++)
                    document.getElementById("source").options.add(new Option(DWObject.GetSourceNameItems(i), i));  // Add the sources in a drop-down list
                document.getElementById("imgTypejpeg").checked = true;
            }
        }

        function AcquireImage() {
            debugger;
            if (DWObject) {
                DWObject.SelectSourceByIndex(document.getElementById("source").selectedIndex);
                DWObject.OpenSource();
                DWObject.IfDisableSourceAfterAcquire = true; // Scanner source will be disabled/closed automatically after the scan.
                DWObject.AcquireImage();
            }
        }

        //Callback functions for async APIs
        function OnSuccess() {
            console.log('successful');
        }

        function OnFailure(errorCode, errorString) {
            alert(errorString);
        }

        function LoadImage() {
            debugger;
            if (DWObject) {
                DWObject.IfShowFileDialog = true; // Open the system's file dialog to load image
                DWObject.LoadImageEx("", EnumDWT_ImageType.IT_ALL, OnSuccess, OnFailure); // Load images in all supported formats (.bmp, .jpg, .tif, .png, .pdf). sFun or fFun will be called after the operation
            }
        }

        // OnHttpUploadSuccess and OnHttpUploadFailure are callback functions.
        // OnHttpUploadSuccess is the callback function for successful uploads while OnHttpUploadFailure is for failed ones.
        function OnHttpUploadSuccess() {
            console.log('successful');
        }

        function OnHttpUploadFailure(errorCode, errorString, sHttpResponse) {
            alert(errorString + sHttpResponse);
        }

        function UploadImage() {
            debugger;
            if (DWObject) {
                // If no image in buffer, return the function
                if (DWObject.HowManyImagesInBuffer == 0)
                    return;

                var querystringData = "SaveFileWithUploadedInfo.aspx?DocId=" + document.getElementById("hdn_docId").value +
                "&txtbID="+document.getElementById("hdn_txtbID").value +"&empId="+document.getElementById("hdn_empId").value +
                "&sid=" + document.getElementById("hdn_sid").value + "&Desc=" + document.getElementById("hdn_Desc").value +
                "&subDoc=" + document.getElementById("hdn_subDoc").value + "&Operation=" + document.getElementById("hdn_Operation").value +
                "&name=" + document.getElementById("hdn_name").value;


                var strHTTPServer = location.hostname; //The name of the HTTP server. For example: "www.dynamsoft.com";
                var CurrentPathName = unescape(location.pathname);
                var CurrentPath = CurrentPathName.substring(0, CurrentPathName.lastIndexOf("/") + 1);
                var strActionPage = CurrentPath + querystringData;
                DWObject.IfSSL = false; // Set whether SSL is used
                DWObject.HTTPPort = location.port == "" ? 80 : location.port;

                var uploadfilename = document.getElementById("hdn_name").value + document.getElementById("hdn_empId").value;  // Uses milliseconds according to local time as the file name

                // Upload the image(s) to the server asynchronously
                DWObject.HTTPUploadThroughPost(strHTTPServer, DWObject.CurrentImageIndexInBuffer, strActionPage, uploadfilename + ".jpg", OnHttpUploadSuccess, OnHttpUploadFailure);
//                if (document.getElementById("imgTypejpeg").checked == true) {
//                    DWObject.HTTPUploadThroughPost(strHTTPServer, DWObject.CurrentImageIndexInBuffer, strActionPage, uploadfilename + ".jpg", OnHttpUploadSuccess, OnHttpUploadFailure);
//                }
//                else if (document.getElementById("imgTypetiff").checked == true) {
//                    DWObject.HTTPUploadAllThroughPostAsMultiPageTIFF(strHTTPServer, strActionPage, uploadfilename + ".tif", OnHttpUploadSuccess, OnHttpUploadFailure);
//                }
//                else if (document.getElementById("imgTypepdf").checked == true) {
//                    DWObject.HTTPUploadAllThroughPostAsPDF(strHTTPServer, strActionPage, uploadfilename + ".pdf", OnHttpUploadSuccess, OnHttpUploadFailure);
//                }

            }
        }
    </script>
</body>
</html>

