<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmSPNSearch.aspx.cs" Inherits="lntechNew.ClientInfo.frmSPNSearch" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>SPN Search Result</title>
    <script type="text/javascript" >
    
    var timer1;
    var timer2;
    
    function EnableTimer()
    {
       /// a;
        timer1 = window.setTimeout('ShowPopup();', 300000);
        
    }
    
    function ShowPopup()
    {
   
        var WinSettings = "center:yes;resizable:no;dialogHeight:200px;dialogwidth:500px;scroll:yes"
        var Arg = 1;
        var conf = window.showModalDialog("Popup_SessionClose.aspx",Arg,WinSettings);
        
        if(conf == 1)
        {
            window.clearTimeout(timer1);
            EnableTimer();
        }
        else
        {
            window.clearTimeout(timer1);
            location.href = "/frmLogin.aspx";
        }
    
    }
    
    </script>
</head>
<body>
    <form id="form1"  runat="server" >
    
    </form>
</body>
</html>
