<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.PaperLess.testOCR" Codebehind="testOCR.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>testOCR</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:TextBox id="TextBox1" style="Z-INDEX: 101; LEFT: 24px; POSITION: absolute; TOP: 88px" runat="server"
				TextMode="MultiLine" Width="544px" Height="280px"></asp:TextBox>
			<asp:Button id="Button1" style="Z-INDEX: 102; LEFT: 504px; POSITION: absolute; TOP: 56px" runat="server"
				Text="OCR" Width="56px"></asp:Button>
		</form>
	</body>
</HTML>
