<%@ Page language="c#" AutoEventWireup="false" Inherits="Chap0601.WebForm2" Codebehind="DisplayPDF.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>WebForm2</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="javascript">
		
			function CallDestroy()
			{
				alert("asdasd");
				window.open("Clenup.aspx","Cleanup","status=no,toolbar=no,location=no,menu=no,scrollbars=no,width=1,height=1");
				self.focus()	
			}
		</script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
