<%@ Control Language="c#" AutoEventWireup="false" Inherits="lntechNew.WebControls.Footer" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" Codebehind="Footer.ascx.cs" %>
<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table18" tabIndex="55">
	<tr>
		<td valign="top">2015 "Lawyers on Cloud" All Rights Reserved 
				</td>
	</tr>
</table>
