<%@ Control Language="c#" AutoEventWireup="false" Inherits="lntechNew.WebControls.TrafficMenuMain" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" Codebehind="TrafficMenuMain.ascx.cs" %>
<script language="JavaScript" src="../scripts/menu_scr.js"></script>
<script language="JavaScript" src="../scripts/mm_menu.js"></script>
<LINK href="../Style.css" type="text/css" rel="stylesheet">
<style type="text/css"> A:link { COLOR: #0066cc; TEXT-DECORATION: none } A:visited { COLOR: #0066cc; TEXT-DECORATION: none } A:active { TEXT-DECORATION: none } A:hover { COLOR: #0066cc; TEXT-DECORATION: underline } .style1 { COLOR: #ffffff } .style2 { FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Tahoma } .style4 { FONT-SIZE: 8pt } </style>
<!--
<script language="JavaScript1.2">mmLoadMenus();</script>
-->
<TABLE id="Table1" cellSpacing="0" cellPadding="1" width="780" align="left" border="0"
	style="FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: white; FONT-FAMILY: Tahoma, Sans-Serif; HEIGHT: 30px">
	<TR>
		<TD style="WIDTH: 1005px; HEIGHT: 7px" colSpan="7"></TD>
	</TR>
	<TR>
		<TD class="" style="WIDTH: 1005px; HEIGHT: 56px" colSpan="7"><asp:image id="Image1" runat="server" ImageUrl="../Images/ln_logo.gif"></asp:image></TD>
	</TR>
	<TR height="7">
		<TD colspan="7"></TD>
	</TR>
	<TR style="DISPLAY: none">
		<td align="center" width="77" height="30" background="../Images/navi_repeat.jpg" ><a href="../../main.asp"><font class="stlclslink">HOMEPAGE</font></a>
		</td>
		<td align="center" width="91" height="30" background="../Images/navi_repeat.jpg" ><a href="../../ClientInfo/violationsfees.asp" name="link10" id="link1"><font class="stlclslink">CLIENT 
					INFO</font></a></td>
		<td align="center" width="101" height="30" background="../Images/navi_repeat.jpg" ><a href="../../Quickentry/Arraign_trial.asp"><font class="stlclslink">QUICK 
					ENTRY</font></a></td>
		<td align="center" width="80" height="30" background="../Images/navi_repeat.jpg" ><a href="../../Activities/ReminderCalls.asp"><font class="stlclslink">ACTIVITIES</font></a></td>
		<td align="center" width="77" height="30" background="../Images/navi_repeat.jpg" ><a href="../../Reports/BatchPrintSingle.asp"><font class="stlclslink">REPORTS</font></a></td>
		<td align="center" width="81" height="30" background="../Images/navi_repeat.jpg" ><a href="../../Backroom/Pricing.asp"><font class="stlclslink">BACK 
					ROOM</font></a></td>
		<td align="center" width="273" height="30" background="../Images/navi_repeat.jpg"></td>
	</TR>
</TABLE>
