<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.QuickEntryNew.PrintTrialDocket" Codebehind="PrintTrialDocket.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Date</title>
		<meta content="False" name="vs_showGrid">
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<script>
		
		</script>
		<form id="Form1" method="post" runat="server">
			&nbsp;
			<TABLE id="Table1" cellSpacing="1" cellPadding="1" width="780px" border="0">
				<TR>
					<TD style="HEIGHT: 9px" align="center" colSpan="3"><asp:label id="lblPrintDate" runat="server" Font-Names="Arial" Width="210px" Font-Size="7.5pt"
							Font-Bold="True"></asp:label></TD>
				</TR>
				<TR>
					<TD></TD>
					<TD></TD>
				</TR>
				<TR>
					<TD>
						<p align="left"><font face="Arial" size="2"><asp:label id="LblAttrorney" runat="server" Font-Names="Arial" Width="264px" Font-Size="10pt"
									Font-Bold="True">SULLO & SULLO ATTORNEYS: </asp:label></font></p>
					</TD>
					</FONT>
					<TD align="right">___________________<br>
						<font face="Arial" size="1"><STRONG>Attorney</STRONG></font>
					</TD>
					</FONT></TR>
				<tr>
					<td align="center" colSpan="3">
						<P><asp:table id="Table_Print" runat="server" Font-Names="Arial"  Font-Size="10px"
								BorderColor="#404040" BorderWidth="1px" BorderStyle="None" GridLines="Both" CellPadding="0"
								CellSpacing="0" Width="780px"></asp:table></P>
						<P>&nbsp;</P>
					</td>
				</tr>
			</TABLE>
		</form>
	</body>
</HTML>
