﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SharePointManager.aspx.cs"
    Inherits="HTP.SharePointManager" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
        .style1
        {
            height: 26px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Button ID="btnDeleteAll" runat="server" Text="DeleteAll" CssClass="style1" onclick="btnDeleteAll_Click" 
     />
    <asp:Button ID="btnAddAll" runat="server" Text="Add All" style="width: 56px" 
        onclick="btnAddAll_Click" />
        <asp:Button ID="btn_UpdateAll" runat="server" OnClick="btn_UpdateAll_Click" Text="Update All" /><br />
    <asp:Label ID="lblMessage" runat="server"></asp:Label>
    </form>
</body>
</html>
