<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.testsession" Codebehind="testsession.aspx.cs" %>
<%@ Register TagPrefix="ajax" Namespace="MagicAjax.UI.Controls" Assembly="MagicAjax" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>testsession</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<script>
	   function Process()
	   {
	   
	   //var response="";
	   var PostData ="x_Login=ant481205930"+"&x_tran_key=83gSdU2xvkXBTwtg"+"&x_Version=3.0"+"&x_Test_Request=false"+"&x_ADC_Delim_Data=TRUE"+"&x_Card_Num=4007000000027"+"&x_Exp_Date=04/15/2006"+"&x_amount=50";
	   //alert(PostData);	
	   var connection="https://secure.authorize.net/gateway/transact.dll"; //+PostData;
	   var srvXmlHttp;	  
	   srvXmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
	   srvXmlHttp.open ("POST",connection,false);
	   srvXmlHttp.send(PostData);	
	   if (srvXmlHttp.readyState == 4)
	   {
	    var response=srvXmlHttp.responseText;	    
	   }  
	   alert(response);
	   
	}
	</script>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			&nbsp;
			<asp:Button id="Button1" style="Z-INDEX: 101; LEFT: 360px; POSITION: absolute; TOP: 144px" runat="server"
				Text="Button"></asp:Button>
		</form>
	</body>
</HTML>
