<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GeneralBugPopUp.aspx.cs" Inherits="lntechNew.backroom.GeneralBugPopUp" %>
<%@ Register TagPrefix="uc1" TagName="AddTroubleTicket" Src="~/WebControls/AddTroubleTicket.ascx" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >


<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Submitt Issues</title>
    
    <LINK href="Styles.css" type="text/css" rel="stylesheet">
	
    
</head>
<body >
		<form id="Form1" method="post" runat="server">
			<table>
			<tr>	
		<td>
		<uc1:AddTroubleTicket ID="tt2" runat="server" ></uc1:AddTroubleTicket> 
		</td>
		</tr>
			
			</table>
			</form>
    
</body>
</html>
