BODY 
{
Font:10pt Tahoma;
/*
BORDER-RIGHT: #e3e3e3 1px solid; 
BORDER-TOP: #e3e3e3 1px solid; 
BORDER-LEFT: #e3e3e3 1px solid;
BORDER-bottom: #e3e3e3 1px solid;
*/
}
ul
{
	list-style-type:none;
}

.clsInputSmallText
{
    BORDER-RIGHT: #e52029 1px solid;
    BORDER-TOP: #e52029 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #e52029 1px solid;
    WIDTH: 50px;
    COLOR: #123160;
    BORDER-BOTTOM: #e52029 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #f1f1f1;
    TEXT-ALIGN: left
}
.clsInputCombo
{
	border-right: #e52029 1px solid;
	border-top: #e52029 1px solid;
	font-weight: normal;
	list-style-position: outside;
	font-size: 8pt;
	border-left: #e52029 1px solid;
	color: #123160;
	border-bottom: #e52029 1px solid;
	font-family: Tahoma;
	list-style-type: square;
	background-color: white;
}
.clsInputSmallNumeric
{
    BORDER-RIGHT: #3366cc 1px solid;
    BORDER-TOP: #3366cc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #3366cc 1px solid;
    WIDTH: 50px;
    COLOR: #123160;
    BORDER-BOTTOM: #3366cc 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: right
}
.clsLeftPaddingTable
{
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    COLOR: #123160;
    FONT-FAMILY: Tahoma;
    background-color:EFF4FB
    
}

a:hover
{
text-decoration:underline;

color:#FFCC00;
}

.clsmainhead
{
	text-decoration:none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;    
    FONT-FAMILY: Tahoma
    /* COLOR: #ffffff; */
}
.clsaspcolumnheader
{
	FONT-SIZE: 8pt;
    COLOR:White;
    background-color:#3366cc;
    FONT-FAMILY: Tahoma;    
    FONT-WEIGHT: bold
}	

.clssubhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #3366cc;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
.clstextarea
{
    BORDER-RIGHT: #3366cc 1px solid;
    BORDER-TOP: #3366cc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #3366cc 1px solid;
    COLOR: #123160;
    BORDER-BOTTOM: #3366cc 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
.clstextareaNon
{
    
    FONT-SIZE: 8pt;    
    COLOR: #123160;    
    FONT-FAMILY: Tahoma;    
    TEXT-ALIGN: left;
    overflow: hidden;
    background-color: #EFEFEF;    	
    border-style: none;   
    
}


.clsLabel
{
    FONT-FAMILY: Tahoma;    
    FONT-SIZE: 8pt;
    COLOR: #123160;            
    border-bottom-width:0;
    border-left-width:0;
    border-Right-width:0;
    border-Top-width:0;
    TEXT-ALIGN: left
}

.clsLabelNew
{
    FONT-FAMILY: Tahoma;    
    FONT-SIZE: 8pt;
    COLOR:Black ;            
    border-bottom-width:0;
    border-left-width:0;
    border-Right-width:0;
    border-Top-width:0;
    TEXT-ALIGN: left
}
.clsLabelRight
{
    FONT-FAMILY: Tahoma;    
    FONT-SIZE: 8pt;
    COLOR: #123160;            
    border-bottom-width:0;
    border-left-width:0;
    border-Right-width:0;
    border-Top-width:0;
    TEXT-ALIGN: right
}

.clsmainhead
{
	text-decoration:none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;    
    FONT-FAMILY: Tahoma
    /* COLOR: #ffffff; */
}

.clssubhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #3366cc;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}

.clsInputadministration
{
    BORDER-RIGHT: #3366cc 1px solid;
    BORDER-TOP: #3366cc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #3366cc 1px solid;
    WIDTH: 90px;
    COLOR: #123160;
    BORDER-BOTTOM: #3366cc 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}

.clsInputcommentsfield
{
    BORDER-RIGHT: #3366cc 1px solid;
    BORDER-TOP: #3366cc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #3366cc 1px solid;
    WIDTH: 300px;
    COLOR: #123160;
    BORDER-BOTTOM: #3366cc 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
.FrmAdminTD
{
	Font-WEIGHT: normal;
       
    Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8.5pt;
}

.FrmBtn
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans;
    FONT-SIZE: 8.5pt;
    width:66px;
}
.clsBorder
{
	
	BORDER-RIGHT: #c6c6c6 1px solid;
    BORDER-TOP: #c6c6c6 1px solid;
    
    BORDER-LEFT: #c6c6c6 1px solid;
    BORDER-BOTTOM: #c6c6c6 1px solid;
	
}

.TextArea
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    Font-Size: 9pt;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;

}
.TextBox
{
    Background-Color: #ffffff;
    Font-Size: 8pt;
    font-family:Verdana
    
}

.vfTextBox
{
    Background-Color: #ffffff;
    Font-Size: 8pt;
    font-family:Verdana;
    height:15
       
}

.TextBoxPD
{    
    border-bottom-style:none;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none ;
    width:136px;
    Background-Color: #ffffff;
    Font-Size: 8pt;
    font-family:Verdana    
    
}

.ProductHead
{	
    
    border-bottom-style:none;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none ;
    border-bottom-width:0;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;     
    FONT: bold 8.5pt Tahoma;    
    background-color: #006699;
    color:  White  ; 
    TEXT-DECORATION: none    
}

.Label
{
	
    FONT-WEIGHT: normal;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans;
    FONT-SIZE: 8.5pt;
    border-style:none;
    border-width:0px;

}

.grdLabel
{
	
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
   

}

.stlclslink 
{
 FONT-WEIGHT: bold;
 FONT-SIZE: 8pt;
 FONT-FAMILY: Tahoma;
 TEXT-DECORATION: none;
 color:#FFFFFF;
 }


.MakeNormalTextBox
{

}
.abcd
{
	overflow: auto;
}

.DimTextBox
{
    Font-Size: 8.pt;
    Background-Color: #EAEAEA
}

.BoldText
{
    Font: bold 11pt Tahoma;
    Color: #FFFFFF;
}

.NormalText
{
    Font: bold 7pt Arial, Helvetica, sans-serif;
    Color: #534A45;
    TEXT-DECORATION: none
}

.DefaultPage
{
    Font:  bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}

A.DefaultPage:link
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none

}
A.DefaultPage:active
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}	


A.DefaultPage:visited
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}	

A.DefaultPage:hover 
{
    Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;    
    TEXT-DECORATION: underline;
	
}





.DefaultPageWhite
{
    Font:  bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}

A.DefaultPageWhite:link
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none

}
A.DefaultPageWhite:active
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	


A.DefaultPageWhite:visited
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	

A.DefaultPageWhite:hover 
{
    Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;    
    TEXT-DECORATION: underline;
	
}


.HeaderLink
{
    Font:  bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}

A.HeaderLink:link
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none

}
A.HeaderLink:active
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	


A.HeaderLink:visited
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	

A.HeaderLink:hover 
{
    Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;    
    TEXT-DECORATION: underline;
	
}




.AppText
{
    Font: 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}


A
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}
A:link
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}

A:Visited
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}

A:Active
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}

A:hover 
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color: 3366cc;
    TEXT-DECORATION: underline;
    font-weight:bold;
}




.NormalLink
{
	
    Font: 8.5pt verdana,Arial, Helvetica, sans-serif;
    Color: 0000ff;
    TEXT-DECORATION: none;
    font-weight:normal;
	
}
A.NormalLink:active
{
    Font-Size: 8.5pt;
    Color: 0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
A.NormalLink:link
{
    Font-Size: 8.5pt;
    Color: #0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
A.NormalLink:visited
{
    Font-Size: 8.5pt;
    Color: #0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
A.NormalLink:hover 
{
    Font-Size: 8.5pt;
    Color: #0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}

MAP
{
    TEXT-DECORATION: none
}
TD 
{
    Font:10pt Tahoma;
}

.FrmTD
{
	Font-WEIGHT: bold ;
    Color: #006699;    
    Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8pt;
    
}

.TopHeading
{
	FONT: bold Tahoma;    
	Font-Size:medium; 
    Color: #006699;    
    
    
}

.FrmTDII
{
	Font-WEIGHT:  normal;
    Color: #000000;    
    Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8pt;
}

.TDHeading
{	
      
    
    color:  White  ; 
    TEXT-DECORATION: none 
}
.TDHeadingnew
{	
    
    
    color:  #006699  ; 
    TEXT-DECORATION: none 
}


.visited
{
	Background:#e4bff7
}
	
.notVisited
{
	Background:#c397d9
}

.current
{
	border: none;
	Font: bold 8pt Tahoma ;
	Color:#000000;
	
}

.tracker
{
	border: none;
	Font:8pt Tahoma;
}



	/*Grids*/

.GrdItem,A.GrdItem:link,A.GrdItem:visited,A.GrdItem:hover
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color: Black ;	
	Font-weight:bold;
	
	/* 
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	*/
}

.GrdAdminHeader,A.GrdAdminHeader:link,A.GrdAdminHeader:visited,A.GrdAdminHeader:hover
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
}	

.TaskGrid_Head, TaskGrid_Head td, .TaskGrid_Head a, .TaskGrid_Head a:link, .TaskGrid_Head a:visited, .TaskGrid_Head a:hover
{
	Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#006699;	
	Font-weight:bold;	
	text-decoration:underline;
	
	
}



.GrdHeader,A.GrdHeader:link,A.GrdHeader:visited,A.GrdHeader:hover, GrdHeader td
{    
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#006699;	
	Font-weight:bold;	
	text-decoration :none	
	/* 
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	*/
}	

.GrdHeaderUser,A.GrdHeaderUser:link,A.GrdHeaderUser:visited,A.GrdHeaderUser:hover
{    
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;	    
	Font-weight:bold;	
	text-decoration :none;
	Color:#ffffff;
	Background-Color:#5f81bf
	/* 
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	*/
}	

.GrdHeader2,A.GrdHeader2:link,A.GrdHeader2:visited,A.GrdHeader2:hover
{    
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;	    
	Font-weight:bold;	
	text-decoration :none;
	Color:#ffffff;
	Background-Color:#CCCCCC
	/* 
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	*/
}	

.GrdHeaderSort,A.GrdHeader:link,A.GrdHeader:visited,A.GrdHeader:hover
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#006699;	
	Font-weight:bold;

	/* 
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	*/
}	

.LinkHeading
{
	Font-size: 18.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#006699;	
	Font-weight:bold;
	text-decoration:none
}

.SubMenu
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	padding:0px;
	padding-left:8px;
	height:18px
 
    
}	

.SubMenuLabel
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color:#ffffff;
	Background-Color:#5f81bf;
	Font-weight:bold;
	padding:0px;	
	height:18px
 
    
}	

.HideTextBorder
{
	border-style: solid;
	border-width:1px;
	border-Color:white;
	overflow:visible;	
	Color:#000000;
	
	Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8.5pt;
    
    padding:0px;
    margin:0px;
  
	
}
	
.HideTextBorderQuery
{
	border-style: solid;
	border-width:1px;
	overflow:visible;	
	
	Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8.5pt;
    height:12px;
    padding:0px;
    margin:0px;
  
	
}
	
.GrdFooter
{
	Background-Color:DDDDDD;
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
}
	
	
.GrdItem
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: #000000
}
	
	
.GrdLbl
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
}
	


.GrdLinks
{
	
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color:  Black ;
    TEXT-DECORATION: none;
	
	
}


.ProductGrdLinks
{	
    Font-size: 8.5pt ;
    font-family: Verdana,Arial, Helvetica, sans-serif ;    
    TEXT-DECORATION: none;
	Font-WEIGHT: bold;
}

A.GrdLinks:Link
{
	
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}

A.GrdLinks:Visited
{
	
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.GrdLinks:Active
{
	
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color:  Black ;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}

A.GrdLinks:Hover 
{
    Font-size: 8.5pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color:blue;
    Font-WEIGHT: NORMAL ;
    TEXT-DECORATION: underline;
}

	
.grdPaging

{	
    Font-Size: 8.5pt;
    Color:#000000;
    Font-Family: verdana;
    
	
	}	











/*grid of admin page*/

/*
.GrdHeader2
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	

A.GrdHeader2:link
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	


A.GrdHeader2:active
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	


A.GrdHeader2:visited
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	


A.GrdHeader2:hover
{
	Font-Family:verdana;
	Font-Size:7pt;
	
	Color:#ffffff;
	Background-Color:0A6CCE;
}		

	
	
.GrdFooter2
{
	Background-Color:DDDDDD;
}
*/	
	
.GrdItem2
{
	Font: 8.5pt Verdana;
    Color: #000000;
}
	
	
.GrdLbl2
{
	Font: 7pt Tahoma;
    Color: #000000;
}
	


.GrdLinks2
{
	
    Font: 8.5pt verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}

A.GrdLinks2:Link
{
	
    Font: 8.5pt verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}

A.GrdLinks2:Visited
{
	
    Font: 8.5pt verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.GrdLinks2:Active
{
	
    Font: 8.5pt verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}

A.GrdLinks2:Hover 
{
    Font-Size: 8.5pt;
    Color:blue;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
}

	
.grdPaging2

{	
    Font-Size: 7pt;
    Color:#000000;
    Font-Family: verdana;
    
	
	}	


	/*Datalist*/

.LstItem
{
	Font: 8.5pt Verdana;
    Color: white;
    Background-Color:0A6CCE;
}
	
	

.LstValues
{
	Font-Size: 8.5pt;
	Font-Family: Verdana;
    Color: #000000;
}
	
	
	
.tableDatalist
{
	
	border-style:solid;
	border-Color:Silver;
	border-width:1px;	
	}	
	
	



		/*link buttons*/
.CmdLinks
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.CmdLinks:link
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}




A.CmdLinks:visited
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.CmdLinks:active
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.CmdLinks:hover 
{
    Font-Size: 8.5pt;
    Color:blue;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	
}



/* export and add new links*/

.CmdLinks2
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: #0000ff;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.CmdLinks2:link
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: #0000ff;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}




A.CmdLinks2:visited
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: #0000ff;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.CmdLinks2:active
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: #0000ff;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	
}


A.CmdLinks2:hover 
{
    Font-Size: 8.5pt;
    Color:#0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	
}




.Emailtxt
{
	Font-Family:verdana;
	Font-Size: 8.5pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
	Font-weight:bold;
}	



.EmailTable
{
	
	BORDER: #e3e3e3 1px solid;
	
}



.EmailTableHeader
{
	
	BORDER: silver 1px solid;
	Font-Family:verdana;
	Font-Size: 8.5pt;
	Color:#ffffff;
	Background-Color:#0A6CCE;
	height:18px;
	font-weight:bold;
}



.EmailTableHeaderTD
{
	
	BORDER-LEFT: #e3e3e3 1px solid;
	
}



.EmailTextBoxes
{
	border: silver 1px solid;
	
}



.EmailTextBoxes2
{
	
	border-style: solid;
	border-width:1px;
	border-Color:white;
	overflow:visible;	
	Color:#000000;
	Font-Family:  Verdana, Arial, Helvetica, sans-serif ;
    Font-Size: 8pt;
  
	
}



.APMDtd
{

BORDER-RIGHT: #e3e3e3 1px solid; 
BORDER-TOP: #e3e3e3 1px solid; 
BORDER-LEFT: #e3e3e3 1px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans;
    FONT-SIZE: 8.5pt;

	}
	

.APMDTd2
{
	
	BORDER-RIGHT: #e3e3e3 1px solid; 
	BORDER-TOP: #e3e3e3 1px solid; 
	BORDER-LEFT: #e3e3e3 1px solid;
	BORDER-bottom: #e3e3e3 1px solid;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans;
	FONT-SIZE: 8.5pt;		
	}	
	
	
		

.APMDTd3
{
FONT-FAMILY: Verdana, Arial, Helvetica, sans;
FONT-SIZE: 8.5pt;		
color:navy;

	}	

.APMTable
{
	
	BORDER-TOP: #e3e3e3 1px solid;
	BORDER-LEFT: #e3e3e3 1px solid; 
	BORDER-BOTTOM: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	}	
	



.TableHeader
{
	Background-Color:#a9c7ec;
	height:20px;
	
	padding-left:8px;

}

.CurveMenu
{
	Background-Color:#284B9E;	
	FONT-FAMILY: Verdana, Arial, Helvetica, sans;
	FONT-SIZE: 8.5pt;			
	padding-left:8px;
	Color:#ffffff;	
	font-weight:bold;
}

.AppTotal
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans;
	FONT-SIZE: 8.5pt;			
	padding-left:8px;
	Color:#2c67c3;	
	font-weight:bold;
}



.AdminGrid

{
		border-right-style:solid;
		border-right-width:1px;
		
		border-left-style:solid;
		border-left-width:1px;
		
		border-bottom-style:solid;
		border-bottom-width:1px;
		
		border-top-width:0px;
		border-top-style:none;	
	}
	
	

/*for vertical bars in submenu	*/	
.VHeaderBar
{
    Font: 9pt Verdana, Helvetica, sans-serif;
    Color: black;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	margin-left:2px;
	margin-right:2px;

	}	
	
.clsbutton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT-COLOR: #ffcc66;
    BORDER-BOTTOM-COLOR: #ffcc66;
    CURSOR: hand;
    COLOR: #3366cc;
    BORDER-TOP-COLOR: #ffcc66;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #ffcc66;
    TEXT-ALIGN: center;
    BORDER-RIGHT-COLOR: #ffcc66
}

.clsnewbutton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma;
    TEXT-ALIGN: center;
    CURSOR: hand;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #5f81bf;
    BORDER-LEFT-COLOR: #ffcc66;
    BORDER-BOTTOM-COLOR: #ffcc66;
    BORDER-TOP-COLOR: #ffcc66;
    BORDER-RIGHT-COLOR: #ffcc66
}


ul
{
	list-style-type:none;
}

.TextArea
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
}
.TextBox
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
}
.DimTextBox
{
    BORDER-RIGHT: #8A8A8A 1px solid;
    BORDER-TOP: #8A8A8A 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #8A8A8A 1px solid;
    BORDER-BOTTOM: #8A8A8A 1px solid;
    BACKGROUND-COLOR: #EAEAEA
}

.BoldText
{
    FONT: bold 11pt Tahoma;
    COLOR: #FFFFFF;
}

.NormalText
{
    FONT: bold 8.5pt Verdana, Arial, Helvetica, sans-serif;
    COLOR: #534A45;
    TEXT-DECORATION: none
}


MAP
{
    TEXT-DECORATION: none
}
TD 
{
    FONT:10pt Tahoma;
}

.FrmTDLetter
{
	FONT: 8.5pt Tahoma;
    COLOR: #000000;
}

.visited
{
	background:#e4bff7
}
	
.notVisited
{
	background:#c397d9
}

.current
{
	border: none;
	FONT: bold 8pt Tahoma ;
	color:#000000;
	
}

.tracker
{
	border: none;
	FONT:8pt Tahoma;
}

.StyleSubMenuSelected
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	FONT-FAMILY: Tahoma;
	color: #FFCC00;
	font-style: normal
}


A.StyleSubMenu:Visited
{
FONT-WEIGHT:bolder;
FONT-SIZE: 8pt;
FONT-FAMILY: Tahoma;
color: #3366cc;
}

A.StyleSubMenu:Active
{
FONT-WEIGHT:bolder;
FONT-SIZE: 8pt;
FONT-FAMILY: Tahoma;
color: #3366cc;
}

A.StyleSubMenu:hover 
{
FONT-WEIGHT:bolder;
FONT-SIZE: 8pt;
FONT-FAMILY: Tahoma;
color: #3366cc;
TEXT-DECORATION: underline;	
}

.StyleSubMenu
{
FONT-WEIGHT: bold;
FONT-SIZE: 18pt;
FONT-FAMILY: Tahoma;
color: #3366cc;
TEXT-DECORATION: none;
font-style: normal
}
