body
{
}
/*  newly added for hyper link
*/
A.DefaultPage:active
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}	


A.DefaultPage:visited
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}	

A.DefaultPage:hover 
{
    Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;    
    TEXT-DECORATION: underline;
	
}





.DefaultPageWhite
{
    Font:  bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}

A.DefaultPageWhite:link
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none

}
A.DefaultPageWhite:active
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	


A.DefaultPageWhite:visited
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	

A.DefaultPageWhite:hover 
{
    Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;    
    TEXT-DECORATION: underline;
	
}


.HeaderLink
{
    Font:  bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}

A.HeaderLink:link
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none

}
A.HeaderLink:active
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	


A.HeaderLink:visited
{
	Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;
    TEXT-DECORATION: none
}	

A.HeaderLink:hover 
{
    Font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #ffffff;    
    TEXT-DECORATION: underline;
	
}




.AppText
{
    Font: 7pt Verdana, Arial, Helvetica, sans-serif;
    Color: #000000;
    TEXT-DECORATION: none
}


A
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}
A:link
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}

A:Visited
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}

A:Active
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color: 3366cc;
    TEXT-DECORATION: none;
	font-weight:bold;
}

A:hover 
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
	Color: 3366cc;
    TEXT-DECORATION: underline;
    font-weight:bold;
}




.NormalLink
{
	
    Font: 8.5pt verdana,Arial, Helvetica, sans-serif;
    Color: 0000ff;
    TEXT-DECORATION: none;
    font-weight:normal;
	
}
A.NormalLink:active
{
    Font-Size: 8.5pt;
    Color: 0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
A.NormalLink:link
{
    Font-Size: 8.5pt;
    Color: #0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
A.NormalLink:visited
{
    Font-Size: 8.5pt;
    Color: #0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	font-weight:normal;
}
A.NormalLink:hover 
{
    Font-Size: 8.5pt;
    Color: #0000ff;
    Font-Family: Verdana, Helvetica, sans-serif;
    TEXT-DECORATION: underline;
	font-weight:normal;
}

MAP
{
    TEXT-DECORATION: none
}
TD 
{
    Font:10pt Tahoma;
}

.FrmTD
{
	Font-WEIGHT: bold ;
    Color: #006699;    
    Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8pt;
    
}

.TopHeading
{
	FONT: bold Tahoma;    
	Font-Size:medium; 
    Color: #006699;    
    
    
}

.FrmTDII
{
	Font-WEIGHT:  normal;
    Color: #000000;    
    Font-Family: Verdana, Arial, Helvetica, sans;
    Font-Size: 8pt;
}

.TDHeading
{	
    FONT: bold 10pt Tahoma;    
    background-color: #006699;
    color:  White  ; 
    TEXT-DECORATION: none 
}
.TDHeadingnew
{	
    FONT: bold 10pt Tahoma;    
    background-color: #E2E2E2;
    color:  #006699  ; 
    TEXT-DECORATION: none 
}


.visited
{
	Background:#e4bff7
}
	
.notVisited
{
	Background:#c397d9
}

.current
{
	border: none;
	Font: bold 8pt Tahoma ;
	Color:#000000;
	
}

.tracker
{
	border: none;
	Font:8pt Tahoma;
}



/*
*/

.clsLeftPaddingTable
{
	padding-left: 5;
	font-size:large 8pt;
	color: #123160;
	font-family: Tahoma;
	background-color:EFF4FB
}

.clsbutton
{
	font-weight: bold;
	font-size: 8pt;
	border-left-color: #ffcc66;
	border-bottom-color: #ffcc66;
	cursor: hand;
	color: #3366cc;
	border-top-color: #ffcc66;
	font-family: Tahoma;
	background-color: #ffcc66;
	text-align: center;
	border-right-color: #ffcc66;
}



.clsInputCombo
{
	border-right:  #e52029 1px solid;
	border-top: #e52029 1px solid;
	font-weight: normal;
	list-style-position: outside;
	font-size: 8pt;
	border-left: #e52029 1px solid;
	color: #123160;
	border-bottom: #e52029 1px solid;
	font-family: Tahoma;
	list-style-type: square;
	background-color: white;
}

.clsInputadministration
{
    BORDER-RIGHT: #3366cc 1px solid;
    BORDER-TOP: #3366cc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #3366cc 1px solid;
    WIDTH: 90px;
    COLOR: #123160;
    BORDER-BOTTOM: #3366cc 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}

.CmdLinks
{
	
    Font: 8.5pt Verdana, Helvetica, sans-serif;
    Color: blue;
    TEXT-DECORATION: none;
	Font-WEIGHT: NORMAL ;
	text-align:right	
}

.clsaspcolumnheader
{
	FONT-SIZE: 8pt;
    COLOR: #3366cc;
    FONT-FAMILY: Tahoma;    
    FONT-WEIGHT: bold
}	

.Label
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans;
    FONT-SIZE: 8.5pt;
    border-style:none;
    border-width:0px;
}

