<%@ Page language="c#" AutoEventWireup="false" Inherits="lntechNew.Cleanup" Codebehind="Cleanup.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Cleanup</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<SCRIPT LANGUAGE="Javascript">

		function CallClose()
		{
	
			window.close();
		}
		</SCRIPT>
	</HEAD>
	<body MS_POSITIONING="GridLayout" Onload="CallClose();">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
