BODY
{
	font: 10pt Tahoma; /* BORDER-RIGHT: #e3e3e3 1px solid;  BORDER-TOP: #e3e3e3 1px solid;  BORDER-LEFT: #e3e3e3 1px solid; BORDER-bottom: #e3e3e3 1px solid; */
}

/*ul	Fahad 5376 12/15/2009----for showing bullet in Logic Page-------
{
	list-style-type: none;
}*/
/*Afaq 8632 03/21/2011 Remove code which over-write the css of hyperlink.*/
.CTL_Label
{
	text-align: justify;
	border-width: medium;
	border-color: Gray;
	font-family: Times New Roman;
	font-size: small;
}

.clsgrdheader 
	{
		color:Black;
		font-size:11px;
		FONT-WEIGHT: bold;
	}
.CTL_Button
{
	font-size: small;
	font-family: Times New Roman;
	text-align: center;
	color: Blue;
}
/*Nasir 4921 07/16/2009 add opacity:0.7; to control popup in fire fix and chrome*/
.modalBackground
{
	background-color: Gray;
	FILTER: alpha(opacity=50);
	opacity:0.5;
}


.modalPopup
{
	background-color: #ffffdd;
	border-width: 3px;
	border-style: Solid;
	border-color: Gray;
	padding: 3px;
	width: 250px;
}

.sampleStyleA
{
	background-color: #FFF;
}

.sampleStyleB
{
	background-color: #FFF;
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
}

.sampleStyleC
{
	background-color: #ddffdd;
	font-family: Sans-Serif;
	font-size: 10pt;
	font-style: italic;
}

.sampleStyleD
{
	background-color: Blue;
	color: White;
	font-family: Arial;
	font-size: 10pt;
}

.clsInputSmallText
{
	border-right: #e52029 1px solid;
	border-top: #e52029 1px solid;
	font-size: 8pt;
	border-left: #e52029 1px solid;
	width: 50px;
	color: #123160;
	border-bottom: #e52029 1px solid;
	font-family: Tahoma;
	background-color: #f1f1f1;
	text-align: left;
}

/*Nasir 4921 07/16/2009 change border-right,border-top ,border-left,border-bottom color from #e52029 to #3366cc to finish red color of dropdown border*/
.clsInputCombo
{	
	border-right: #3366cc 1px solid;
	border-top: #3366cc 1px solid;
	font-weight: normal;
	list-style-position: outside;
	font-size: 8pt;
	border-left: #3366cc 1px solid;
	color: #123160;
	border-bottom: #3366cc 1px solid;
	font-family: Tahoma;
	list-style-type: square;
	background-color: white;
}
.clsInputSmallNumeric
{
	border-right: #3366cc 1px solid;
	border-top: #3366cc 1px solid;
	font-size: 8pt;
	border-left: #3366cc 1px solid;
	width: 50px;
	color: #123160;
	border-bottom: #3366cc 1px solid;
	font-family: Tahoma;
	background-color: white;
	text-align: right;
}
.clsLeftPaddingTable
{
	padding-left: 5px;
	font-size: 8pt;
	color: #123160;
	font-family: Tahoma;
	background-color: #EFF4FB;
}

A:hover
{
	text-decoration: underline;
	color: #4169E1;
}

.clsmainhead
{
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	font-family: Tahoma /* COLOR: #ffffff; */;
}
.clsaspcolumnheader
{
	font-size: 8pt;
	color: #3366cc;
	font-family: Tahoma;
	font-weight: bold;
}
.clsaspcolumnheaderblack
{
	font-size: 8pt;
	color: Black;
	font-family: Tahoma;
	font-weight: bold;
}
.clssubhead
{
	font-weight: bold;
	font-size: 8pt;
	color: #3366cc;
	font-family: Tahoma;
	text-decoration: none;
}
.clssubheadU
{
	font-weight: bold;
	font-size: 8pt;
	color: #3366cc;
	font-family: Tahoma;
	text-decoration:  underline;
}
.clssubhead2
{
	font-weight: bold;
	font-size: 8pt;
	color: #3366cc;
	font-family: Tahoma;
}

.clstextarea
{
	border-right: #3366cc 1px solid;
	border-top: #3366cc 1px solid;
	font-size: 8pt;
	border-left: #3366cc 1px solid;
	color: #123160;
	border-bottom: #3366cc 1px solid;
	font-family: Tahoma;
	background-color: white;
	text-align: left;
}
.clstextareaNon
{
	font-size: 8pt;
	color: #123160;
	font-family: Tahoma;
	text-align: left;
	overflow: hidden;
	background-color: #EFEFEF;
	border-style: none;
}


.clsLabel
{
	font-family: Tahoma;
	font-size: 8pt;
	color: #123160;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	text-align: left;
}

.clsMainHeader
{
	font-family: Times New Roman;
	font-size: 18pt;
	color: #123160;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	text-align: left;
}

.clsLabelNew
{
	font-family: Tahoma;
	font-size: 8pt;
	color: Black;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	text-align: left;
}
.clsLabelRight
{
	font-family: Tahoma;
	font-size: 8pt;
	color: #123160;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	text-align: right;
}

.clsmainhead
{
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	font-family: Tahoma /* COLOR: #ffffff; */;
}

.clssubhead
{
	font-weight: bold;
	font-size: 8pt;
	color: #3366cc;
	font-family: Tahoma;
	text-decoration: none;
}

.clsInputadministration
{
	border-right: #3366cc 1px solid;
	border-top: #3366cc 1px solid;
	font-size: 8pt;
	border-left: #3366cc 1px solid;
	width: 90px;
	color: #123160;
	border-bottom: #3366cc 1px solid;
	font-family: Tahoma;
	background-color: white;
	text-align: left;
}

.clsInputcommentsfield
{
	border-right: #3366cc 1px solid;
	border-top: #3366cc 1px solid;
	font-size: 8pt;
	border-left: #3366cc 1px solid;
	width: 300px;
	color: #123160;
	border-bottom: #3366cc 1px solid;
	font-family: Tahoma;
	background-color: white;
	text-align: left;
}
.FrmAdminTD
{
	font-weight: normal;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
}

.FrmBtn
{
	font-weight: normal;
	color: #000000;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
	width: 66px;
}
.clsBorder
{
	border-right: #c6c6c6 1px solid;
	border-top: #c6c6c6 1px solid;
	border-left: #c6c6c6 1px solid;
	border-bottom: #c6c6c6 1px solid;
}

.TextArea
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 9pt;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.TextBox
{
	background-color: #ffffff;
	font-size: 8pt;
	font-family: Verdana;
}

.vfTextBox
{
	background-color: #ffffff;
	font-size: 8pt;
	font-family: Verdana;
	height: 15;
}

.TextBoxPD
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	width: 136px;
	background-color: #ffffff;
	font-size: 8pt;
	font-family: Verdana;
}

.ProductHead
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	font: bold 8.5pt Tahoma;
	background-color: #006699;
	color: White;
	text-decoration: none;
}

.Label
{
	font-weight: normal;
	color: #000000;
	font-style: normal;
	font-family: Verdana;
	font-size: 8.5pt;
	border-style: none;
	border-width: 0px;
}

.Labelfrmmain
{
	font-weight: normal;
	color: #000000;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8pt;
	border-style: none;
	border-width: 0px;
}

.grdLabel
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
}
.stlclslinkselected
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	text-decoration: none;
	color: #3366cc;
}

.stlclslink
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	text-decoration: none;
	color: #FFFFFF;
}
body, td
{
	color: #000000;
}

th
{
	font-weight: bold;
	font-size: 8pt;
	color: #3366cc;
	font-family: Tahoma;
	text-decoration: none;
	white-space:nowrap;
	
}

.MakeNormalTextBox
{
}
.abcd
{
	overflow: auto;
}

.DimTextBox
{
	font-size: 8.pt;
	background-color: #EAEAEA;
}

.BoldText
{
	font: bold 11pt Tahoma;
	color: #FFFFFF;
}

.NormalText
{
	font: bold 7pt Arial, Helvetica, sans-serif;
	color: #534A45;
	text-decoration: none;
}

.DefaultPage
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

A.DefaultPage:link
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}
A.DefaultPage:active
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}


A.DefaultPage:visited
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

A.DefaultPage:hover
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
}





.DefaultPageWhite
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

A.DefaultPageWhite:link
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
A.DefaultPageWhite:active
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}


A.DefaultPageWhite:visited
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

A.DefaultPageWhite:hover
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: underline;
}


.HeaderLink
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

A.HeaderLink:link
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}
A.HeaderLink:active
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}


A.HeaderLink:visited
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

A.HeaderLink:hover
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: underline;
}




.AppText
{
	font: 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}


A
{
	font-size: 8pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #3366cc;
	text-decoration: none;
	font-weight: bold;
}


A:Visited
{
	font-size: 8pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #3366cc;
	text-decoration: none;
	font-weight: bold;
}

A:Active
{
	font-size: 8pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #3366cc;
	text-decoration: none;
	font-weight: bold;
}

A:hover
{
	font-size: 8pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #3366cc;
	text-decoration: underline;
	font-weight: bold;
}




.NormalLink
{
	font: 8.5pt verdana,Arial, Helvetica, sans-serif;
	color: #0000ff;
	text-decoration: none;
	font-weight: normal;
}
A.NormalLink:active
{
	font-size: 8.5pt;
	color: #0000ff;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.NormalLink:link
{
	font-size: 8.5pt;
	color: #0000ff;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.NormalLink:visited
{
	font-size: 8.5pt;
	color: #0000ff;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.NormalLink:hover
{
	font-size: 8.5pt;
	color: #0000ff;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: normal;
}

MAP
{
	text-decoration: none;
}
TD
{
	font: 10pt Tahoma;
}

.FrmTD
{
	font-weight: bold;
	color: #006699;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8pt;
}

.FrmTD_Comments
{
	font-weight: bold;
	color: #006699;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8pt;
	border-bottom: thin solid;
}

.TopHeading
{
	font: bold Tahoma;
	font-size: medium;
	color: #006699;
}

.FrmTDII
{
	font-weight: normal;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8pt;
}

.TDHeading
{
	font: bold 10pt Tahoma;
	background-color: #006699;
	color: White;
	text-decoration: none;
}
.TDHeadingnew
{
	font: bold 10pt Tahoma;
	background-color: #E2E2E2;
	color: #006699;
	text-decoration: none;
}


.visited
{
	background: #e4bff7;
}

.notVisited
{
	background: #c397d9;
}

.current
{
	border: none;
	font: bold 8pt Tahoma;
	color: #000000;
}

.tracker
{
	border: none;
	font: 8pt Tahoma;
}



/*Grids*/

.GrdItem, A.GrdItem:link, A.GrdItem:visited, A.GrdItem:hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: Black;
	font-weight: bold; /*  	Color:#ffffff; 	Background-Color:#5f81bf; 	Font-weight:bold; 	*/
}

.GrdAdminHeader, A.GrdAdminHeader:link, A.GrdAdminHeader:visited, A.GrdAdminHeader:hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #5f81bf;
	font-weight: bold;
}

.TaskGrid_Head, TaskGrid_Head td, .TaskGrid_Head a, .TaskGrid_Head a:link, .TaskGrid_Head a:visited, .TaskGrid_Head a:hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	text-decoration: underline;
}



.GrdHeader, A.GrdHeader:link, A.GrdHeader:visited, A.GrdHeader:hover, GrdHeader td
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	text-decoration: none /*  	Color:#ffffff; 	Background-Color:#5f81bf; 	Font-weight:bold; 	*/;
}

.GrdHeaderUser, A.GrdHeaderUser:link, A.GrdHeaderUser:visited, A.GrdHeaderUser:hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	background-color: #5f81bf /*  	Color:#ffffff; 	Background-Color:#5f81bf; 	Font-weight:bold; 	*/;
}

.GrdHeader2, A.GrdHeader2:link, A.GrdHeader2:visited, A.GrdHeader2:hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	background-color: #CCCCCC /*  	Color:#ffffff; 	Background-Color:#5f81bf; 	Font-weight:bold; 	*/;
}

.GrdHeaderSort, A.GrdHeader:link, A.GrdHeader:visited, A.GrdHeader:hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold; /*  	Color:#ffffff; 	Background-Color:#5f81bf; 	Font-weight:bold; 	*/
}

.LinkHeading
{
	font-size: 18.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	text-decoration: none;
}

.SubMenu
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #5f81bf;
	font-weight: bold;
	padding: 0px;
	padding-left: 8px;
	height: 18px;
}

.SubMenuLabel
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #5f81bf;
	font-weight: bold;
	padding: 0px;
	height: 18px;
}

.HideTextBorder
{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	overflow: visible;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
	padding: 0px;
	margin: 0px;
}

.HideTextBorderQuery
{
	border-style: solid;
	border-width: 1px;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
	height: 12px;
	padding: 0px;
	margin: 0px;
}

.GrdFooter
{
	background-color: DDDDDD;
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
}


.GrdItem
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: #000000;
}


.GrdLbl
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
}



.GrdLinks
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: Black;
	text-decoration: none;
}


.ProductGrdLinks
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.GrdLinks:Link
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}

A.GrdLinks:Visited
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}


A.GrdLinks:Active
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: Black;
	text-decoration: none;
	font-weight: NORMAL;
}

A.GrdLinks:Hover
{
	font-size: 8.5pt;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	color: blue;
	font-weight: NORMAL;
	text-decoration: underline;
}


.grdPaging
{
	font-size: 8.5pt;
	color: #000000;
	font-family: verdana;
}











/*grid of admin page*/

/*
.GrdHeader2
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	

A.GrdHeader2:link
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	


A.GrdHeader2:active
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	


A.GrdHeader2:visited
{
	Font-Family:verdana;
	Font-Size:7pt;
	Color:#ffffff;
	Background-Color:0A6CCE;
}	


A.GrdHeader2:hover
{
	Font-Family:verdana;
	Font-Size:7pt;
	
	Color:#ffffff;
	Background-Color:0A6CCE;
}		

	
	
.GrdFooter2
{
	Background-Color:DDDDDD;
}
*/

.GrdItem2
{
	font: 8.5pt Verdana;
	color: #000000;
}


.GrdLbl2
{
	font: 7pt Tahoma;
	color: #000000;
}



.GrdLinks2
{
	font: 8.5pt verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}

A.GrdLinks2:Link
{
	font: 8.5pt verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}

A.GrdLinks2:Visited
{
	font: 8.5pt verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}


A.GrdLinks2:Active
{
	font: 8.5pt verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}

A.GrdLinks2:Hover
{
	font-size: 8.5pt;
	color: blue;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
}


.grdPaging2
{
	font-size: 7pt;
	color: #000000;
	font-family: verdana;
}


/*Datalist*/

.LstItem
{
	font: 8.5pt Verdana;
	color: white;
	background-color: 0A6CCE;
}



.LstValues
{
	font-size: 8.5pt;
	font-family: Verdana;
	color: #000000;
}



.tableDatalist
{
	border-style: solid;
	border-color: Silver;
	border-width: 1px;
}





/*link buttons*/
.CmdLinks
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}


A.CmdLinks:link
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}




A.CmdLinks:visited
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}


A.CmdLinks:active
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: blue;
	text-decoration: none;
	font-weight: NORMAL;
}


A.CmdLinks:hover
{
	font-size: 8.5pt;
	color: blue;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
}



/* export and add new links*/

.CmdLinks2
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: #0000ff;
	text-decoration: none;
	font-weight: NORMAL;
}


A.CmdLinks2:link
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: #0000ff;
	text-decoration: none;
	font-weight: NORMAL;
}




A.CmdLinks2:visited
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: #0000ff;
	text-decoration: none;
	font-weight: NORMAL;
}


A.CmdLinks2:active
{
	font: 8.5pt Verdana, Helvetica, sans-serif;
	color: #0000ff;
	text-decoration: none;
	font-weight: NORMAL;
}


A.CmdLinks2:hover
{
	font-size: 8.5pt;
	color: #0000ff;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
}




.Emailtxt
{
	font-family: verdana;
	font-size: 8.5pt;
	color: #ffffff;
	background-color: 0A6CCE;
	font-weight: bold;
}



.EmailTable
{
	border: #e3e3e3 1px solid;
}



.EmailTableHeader
{
	border: silver 1px solid;
	font-family: verdana;
	font-size: 8.5pt;
	color: #ffffff;
	background-color: #0A6CCE;
	height: 18px;
	font-weight: bold;
}



.EmailTableHeaderTD
{
	border-left: #e3e3e3 1px solid;
}



.EmailTextBoxes
{
	border: silver 1px solid;
}



.EmailTextBoxes2
{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	overflow: visible;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}



.APMDtd
{
	border-right: #e3e3e3 1px solid;
	border-top: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
}


.APMDTd2
{
	border-right: #e3e3e3 1px solid;
	border-top: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
}




.APMDTd3
{
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
	color: navy;
}

.APMTable
{
	border-top: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
}




.TableHeader
{
	background-color: #a9c7ec;
	height: 20px;
	padding-left: 8px;
}

.CurveMenu
{
	background-color: #284B9E;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
	padding-left: 8px;
	color: #ffffff;
	font-weight: bold;
}

.AppTotal
{
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 8.5pt;
	padding-left: 8px;
	color: #2c67c3;
	font-weight: bold;
}



.AdminGrid
{
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-top-style: none;
}



/*for vertical bars in submenu	*/
.VHeaderBar
{
	font: 9pt Verdana, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	font-weight: NORMAL;
	margin-left: 2px;
	margin-right: 2px;
}

.clsbutton
{
	font-weight: bold;
	font-size: 8pt;
	border-left-color: #ffcc66;
	border-bottom-color: #ffcc66;
	cursor: hand;
	color: #3366cc;
	border-top-color: #ffcc66;
	font-family: Tahoma;
	background-color: #ffcc66;
	text-align: center;
	border-right-color: #ffcc66;
}

.clsnewbutton
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	text-align: center;
	cursor: hand;
	color: #ffffff;
	background-color: #5f81bf;
	border-left-color: #ffcc66;
	border-bottom-color: #ffcc66;
	border-top-color: #ffcc66;
	border-right-color: #ffcc66;
}


/*ul	Fahad 5376 12/15/2009 -------for showing bullet in Logic Page-------
{
	list-style-type: none;
}*/

.TextArea
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 9pt;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.TextBox
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 9pt;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.DimTextBox
{
	border-right: #8A8A8A 1px solid;
	border-top: #8A8A8A 1px solid;
	font-size: 9pt;
	border-left: #8A8A8A 1px solid;
	border-bottom: #8A8A8A 1px solid;
	background-color: #EAEAEA;
}

.BoldText
{
	font: bold 11pt Tahoma;
	color: #FFFFFF;
}

.NormalText
{
	font: bold 8.5pt Verdana, Arial, Helvetica, sans-serif;
	color: #534A45;
	text-decoration: none;
}


MAP
{
	text-decoration: none;
}
TD
{
	font: 10pt Tahoma;
}

.FrmTDLetter
{
	font: 8.5pt Tahoma;
	color: #000000;
}

.visited
{
	background: #e4bff7;
}

.notVisited
{
	background: #c397d9;
}

.current
{
	border: none;
	font: bold 8pt Tahoma;
	color: #000000;
}

.tracker
{
	border: none;
	font: 8pt Tahoma;
}

.StyleSubMenuSelected
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	color: #FFCC00;
	font-style: normal;
}


A.StyleSubMenu:Visited
{
	font-weight: bolder;
	font-size: 8pt;
	font-family: Tahoma;
	color: #3366cc;
}

A.StyleSubMenu:Active
{
	font-weight: bolder;
	font-size: 8pt;
	font-family: Tahoma;
	color: #3366cc;
}

A.StyleSubMenu:hover
{
	font-weight: bolder;
	font-size: 8pt;
	font-family: Tahoma;
	color: #3366cc;
	text-decoration: underline;
}

.StyleSubMenu
{
	font-weight: bold;
	font-size: 18pt;
	font-family: Tahoma;
	color: #3366cc;
	text-decoration: none;
	font-style: normal;
}
.clsrlist
{
	font-family: Tahoma;
	font-size: 8pt;
	color: Black;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	text-align: left;
}


.GridItemStyle
{
	font-family: Tahoma;
	font-size: 8pt;
	color: #123160;	
	text-align: left;
}
	
.GridItemStyleBig
{
	font-weight: normal;
	color: #000000;
	font-style: normal;
	font-family: Verdana;
	font-size: 8.5pt;
}



A:Visited
{
    Font-size: 8pt;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    Color:  #4169E1;
    TEXT-DECORATION: none;
	font-weight:bold;
}

.clsinputadministrationlabel
{
	border-bottom-style : none;
	border-right-style : none;
	border-top-style : none;
	border-left-style : none;
	width: 90px;
	font-family: Tahoma;
	background-color: Transparent;
	text-align: left;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	font-family: Verdana;
	font-size: 8.5pt;
	cursor :inherit;
}
/*Asad Ali 7480 04/06/2010 obout tool tip style*/
.QuickLinksFlyoutPopup
{
	background-color: white;
	border: solid 1px silver;
	padding: 10px;
	font-family: Calibri;
	font-size: 11px;
	font-weight: normal;
	font-style: inherit;
	font-variant: normal;
	
}   
/*Saeed 8101 09/27/2010 background image for show setting control*/   
.CellBackgroundImage
{
	background-image:url('Images/subhead_bg.gif');	
}
/* Abbas Shahid Khwaja 9435 06/29/2011 font for flags pre trial diversion and Motion Hiring and reset flag message*/ 
.FlagMessageBold
{
    font-weight:bold;
    font-family:Verdana
    font-style:10pt;
}
.FlagMessageNormal
{
    font-weight:normal;
    font-family:Verdana;
    font-size: 8.5pt;
}