<%@ Page language="c#" AutoEventWireup="false" Inherits="test1.WebForm1" Codebehind="testcon.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>WebForm1</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:DataGrid id="DataGrid1" style="Z-INDEX: 101; LEFT: 152px; POSITION: absolute; TOP: 56px"
				runat="server"></asp:DataGrid>
			<asp:Button id="Button3" style="Z-INDEX: 104; LEFT: 304px; POSITION: absolute; TOP: 32px" runat="server"
				Text="enterprise"></asp:Button>
			<asp:Button id="Button2" style="Z-INDEX: 103; LEFT: 240px; POSITION: absolute; TOP: 32px" runat="server"
				Text="using"></asp:Button>
			<asp:Button id="Button1" style="Z-INDEX: 102; LEFT: 152px; POSITION: absolute; TOP: 32px" runat="server"
				Text="sqlclient"></asp:Button>
		</form>
	</body>
</HTML>
