<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PreviewDoc.aspx.cs" Inherits="HTP.BusinessLogic.PreviewDoc" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head runat="server">
    <title>Preview Document</title>
</head>
<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0">

    <form id="form1" runat="server">
    </form>
</body>
</html>
