<%@ Page Language="c#" AutoEventWireup="false" Inherits="HTP.PaymentInfo.CloseOutReportPreview"
    CodeBehind="CloseOutReportPreview.aspx.cs" %>

<%@ Register TagPrefix="ew" Namespace="eWorld.UI" Assembly="eWorld.UI, Version=1.9.0.0, Culture=neutral, PublicKeyToken=24d65337282035f2" %>
<%@ Register TagPrefix="uc1" TagName="Footer" Src="../WebControls/Footer.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
<head>
    <title>Payment Report</title>
    <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
    <meta content="C#" name="CODE_LANGUAGE">
    <meta content="JavaScript" name="vs_defaultClientScript">
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
    <link href="../Styles.css" type="text/css" rel="stylesheet">

    <script src="../Scripts/Validationfx.js" type="text/javascript"></script>

    <script type="text/javascript">		
		
		function Back()
		{
			window.history.back(1);		
		}		
				
		
		function ShowViolationFee(TicketID)
		{
			//a;
				//strURL = "../../ClientInfo/violationsfees.asp?caseNumber=" & intTicketID
			var strURL= "//ClientInfo/violationsfees.asp?caseNumber=" & TicketID;
			window.navigate(strURL);				
		}
			
			
		function show( divid )
		{
			divid.style.display = 'block';
			divid.style.margin = '1.5px 0px';
		}

		function hide( divid )
		{
			divid.style.display = 'none';
			divid.style.margin = '0px';
		}
		
		
				//tahir ahmed 3736 05/02/2008
		//added for grouping of courts
		// the function will show or hide the sub courts
		// if clicked on a court category.....
		function ShowHideCourtDetail(category)
		{  			
			
			var txt = document.getElementById("txtHCJP");	
			var txtcheck=document.getElementById("txtOthers");

            if (category != '0')
            {
			    if (category==2)
			    {
			    if (txt.value  == '0')
				    txt.value = '1';
			    else
				    txt.value = '0';
			    }
			    else if(category ==100)
			    {
    	
			    if (txtcheck.value == '0')
				    txtcheck.value = '1';
			    else
				    txtcheck.value = '0';
		        }
		    }
		
			var cnt = parseInt(document.getElementById("iCourtCount").value);
			var grdName = "dgrdCourt";
			var idx=2;
			cnt = cnt + 2;

			for (idx=2; idx < (cnt); idx++)
			{
				var tr = ""; 
				var courttype = "";
				var IsGroup= "";
				var img1 = "";
				var img2 = "";
				var img3 = "";
				 
				if( idx < 10)
				{
				 tr = grdName+ "_ctl0" + idx + "_trDetail";
				 courttype = grdName+ "_ctl0" + idx + "_lblCategoryNumber";
				 IsGroup  = grdName+ "_ctl0" + idx + "_lblIsCourtCategory";
				 img1 = grdName+ "_ctl0" + idx + "_iParent";
				 img2 = grdName+ "_ctl0" + idx + "_iChild";
				 img3 = grdName+ "_ctl0" + idx + "_iLink";
				
				}
				else
				{
				 tr = grdName+ "_ctl" + idx + "_trDetail";
				 courttype = grdName+ "_ctl" + idx + "_lblCategoryNumber";
				 IsGroup  = grdName+ "_ctl" + idx + "_lblIsCourtCategory";
				 img1 = grdName+ "_ctl" + idx + "_iParent";
				 img2 = grdName+ "_ctl" + idx + "_iChild";
				 img3 = grdName+ "_ctl" + idx + "_iLink";
				}

				var trCC = document.getElementById(tr);
				var cType = document.getElementById(courttype);
				var rType = document.getElementById(IsGroup);
				var img11 = document.getElementById(img1);
				var img22 = document.getElementById(img2);
				var img33 = document.getElementById(img3);
				
				cType = parseInt(cType.innerText);
				rType = parseInt(rType.innerText);
		
				if (rType == 0 && cType!=2 && cType != 100)
		        {
				    img11.style.display = 'none';
				    img22.style.display = 'block';
				    img33.style.display = 'none';
		        }
				
				if (rType == 1)
				{
				    trCC.style.display = 'block';
				    img11.style.display = 'block';
				    img22.style.display = 'none';
				    img33.style.display = 'none';
				}
				
				if (cType == 2 && rType == 0 )
				{				
					if (txt.value == '1')
						{
						trCC.style.display = 'block';
						img22.style.display = 'block';
						img33.style.display = 'block';
						
						}
					else
						{
						trCC.style.display = 'none';
						img22.style.display = 'none';
						img33.style.display = 'none';
						trCC.style.margin= '0px';						

						}
				}
				 
				 if (cType == 2 && rType == 1 )
				{				
					if (txt.value == '1')
						{
						img11.style.display = 'block';
						img22.style.display = 'none';
						}
					else
						{
						img11.style.display = 'none';
						img22.style.display = 'block';
						}
				}
				 
				 if (cType == 100 && rType == 0)
				{ 
					if (txtcheck.value == '1')
					{ 
						trCC.style.display = 'block';
						img22.style.display = 'block';
						img33.style.display = 'block';
					}
					else
					{ 
						trCC.style.display = 'none';
						img22.style.display = 'none';
						img33.style.display = 'none';
						trCC.style.margin= '0px';	
					}
				}
				
					if (cType == 100 && rType == 1 )
				{				
					if (txtcheck.value == '1')
						{
						img11.style.display = 'block';
						img22.style.display = 'none';
						}
					else
						{
						img11.style.display = 'none';
						img22.style.display = 'block';
						}
				}
			}
		}


		
		
		// tahir ahmed 4171 6/28/2008
		// added for grouping Hiring Source Summary grouping...
		// and collapse/expand feature...
		function ShowHideMailerDetail(txtToggle)
		{
		
			var txt = document.getElementById(txtToggle );
			
			if (txt != null)
			{
			    if (txt.value == "0")
			        txt.value = "1";
			    else 
			        txt.value = "0";
		    }
			    
			
			
			var cnt = parseInt(document.getElementById("iMailerSummaryCount").value);
			var grdName = "dgMailerSummary";
			var idx=2;
			cnt = cnt + 2;

            var tempCourt = "";
            var tempToggle = "";

			for (idx=2; idx < (cnt); idx++)
			{
				var tr = ""; 
				var IsGroup= "";
				var Category = "";
				var textbox = "";
				var img1 = "";
				var img2 = "";
				 
				if( idx < 10)
				{
				 tr = grdName+ "_ctl0" + idx + "_trDetail";
				 IsGroup  = grdName+ "_ctl0" + idx + "_lbl_IsGroup";
				 Category  = grdName+ "_ctl0" + idx + "_lblCourtCategorynum";
				 textbox = grdName+ "_ctl0" + idx + "_txtToggleImage";
				 img1 = grdName+ "_ctl0" + idx + "_iParent";
				 img2 = grdName+ "_ctl0" + idx + "_iChild";
				
				}
				else
				{
				 tr = grdName+ "_ctl" + idx + "_trDetail";
				 IsGroup  = grdName+ "_ctl" + idx + "_lbl_IsGroup";
				 Category  = grdName+ "_ctl" + idx + "_lblCourtCategorynum";
				 textbox = grdName+ "_ctl" + idx + "_txtToggleImage";
				 img1 = grdName+ "_ctl" + idx + "_iParent";
				 img2 = grdName+ "_ctl" + idx + "_iChild";
				}

				var trCC = document.getElementById(tr);
				var bGroup = document.getElementById(IsGroup).innerText;
				var iCat = document.getElementById(Category).innerText;
				var sTxt = document.getElementById(textbox).value;
				var img11 = document.getElementById(img1);
				var img22 = document.getElementById(img2);



				// if it is court category group
				if (bGroup == "True")
				{
				    tempCourt = iCat;
				    tempToggle = sTxt;

                    // if collapsed then expand....
				    if (sTxt == "0" )
				    {
				        img11.style.display = "none";   
				        img22.style.display = "block";   
				    }

                    // if expanded then collapse...
				    else if (sTxt == "1" )
				    {
				        img11.style.display = "block";   
				        img22.style.display = "none";   
				    }
				        
				}
				
				// if child row of court category......
				else
				{
				    // if court category is collapsed then 
				    // do not display the mailer type detail....
				    if (tempCourt == iCat && tempToggle == "0")
				    {
				        trCC.style.display = "none";
				    }
				    
				    // if court category is expanded then 
				    // display the mailer type detail....
				    else
				    {
				        trCC.style.display = "block";
				    }
				}
				
			}

		}
		
		function DefaultLoad()
		{		
			//document.getElementById("txtPC").style.display='none'
			//document.getElementById("txtPR").style.display='none'
			//a;
			//if (document.getElementById("txtPC").value == 1)			
			//{
			//	show(HA2);show(HA3);hide(HA1);			
			//}
			//else
			//{
			//	hide(HA2);hide(HA3);show(HA1);		
			//}
			
			//if (document.getElementById("txtPR").value == 1)
			//{
			//	show(HB2);show(HB3);hide(HB1);			
			//}
			//else
			//{
			//	hide(HB2);hide(HB3);show(HB1);		
			//}
			
			//show(HA2);show(HA3);hide(HA1);			
			//hide(HB2);hide(HB3);show(HB1);		
			//show(HB2);show(HB3);hide(HB1);	
			//a;	
			
			//tahir ahmed 3736 05/02/2008
		    //SHOW HIDE COURT GROUPS.....
		    ShowHideCourtDetail(0);
			
			//tahir 4171 06/28/2008
			ShowHideMailerDetail(null);					
		}
		
		function SetFlag(Control,Value)
		{
			document.getElementById(Control).value = Value ;		
		}
		
		
		function ValidateMe(txtbox)
		{
			//a;
			//var AmountValue= document.Form1.TextBox3.value;
			var AmountValue= txtbox.value; 
			if (AmountValue !="")
			{
				if (!(isFloat(AmountValue) || isPositiveInteger(AmountValue)))
				{
					alert("Please Enter actual amount in textboxes");				
					return false;
				}					
			}
			return true;		
		}
		
		
		function PopUpShowPreviewPDF()
		{
				//a;
				//strURL = "../../ClientInfo/violationsfees.asp?caseNumber=" & intTicketID
				//var strURL= "PreviewPDF.aspx?DocID=" & DocID;
				//window.open(strURL);				
				
				//window.open ("QuoteCallBackDetail.aspx?TicketID="+ TicketID + "&QuoteID=" + QuoteID ,"QuoteCallBack", 'toolbar=no,location=no,status=yes,menubar=no,scrollbars=no,resizable=no,left=150,Top=100,height=430,width=500' );				
				//window.open ('PreviewPDF.aspx?DocID='+ DocID,'toolbar=yes,location=no,status=yes,menubar=yes,scrollbars=yes,resizable=yes,left=150,Top=100,height=430,width=500' );
				//window.open ("PreviewMain.aspx?DocID="+ DocID);
				window.open ("PreviewMain.aspx");
		}
		
    </script>

    <style type="text/css">
        TABLE
        {
            font: 11px verdana,arial,helvetica,sans-serif;
        }
        DIV.divHidden
        {
            display: none;
            margin: 0px;
        }
        DIV
        {
            margin: 0px;
        }
    </style>
</head>
<body onload="DefaultLoad();" ms_positioning="GridLayout">
    <form id="Form1" method="post" runat="server">
    <table id="TableMain" cellspacing="0" cellpadding="0" width="780" align="left" border="0">
        <tbody>
            <tr>
                <td colspan="4" style="width: 796px">
                    <img alt="" src="../Images/lnlogo.jpg">&nbsp;
                    <table id="Table5" cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tr>
                            <td class="TopHeading" style="height: 13px" align="center" colspan="4" height="13">
                                PAYMENT DETAIL REPORT
                            </td>
                        </tr>
                        <tr>
                            <td class="TopHeading" style="height: 13px" align="center" colspan="4" height="13">
                                For The
                                <asp:Label ID="lblDate" runat="server" CssClass="TopHeading"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td class="frmtd" style="height: 5px" width="20" height="5">
                            </td>
                            <td class="frmtd" style="height: 5px" width="100" height="5">
                            </td>
                            <td style="display: none; height: 5px" height="5">
                                <ew:CalendarPopup ID="calQueryDate" runat="server" ImageUrl="../images/calendar.gif"
                                    Width="90px" ToolTip="Select Report Date" PadSingleDigits="True" UpperBoundDate="12/31/9999 23:59:00"
                                    Culture="(Default)" AllowArbitraryText="False" ShowGoToToday="True" CalendarLocation="Bottom"
                                    ControlDisplay="TextBoxImage" Font-Names="Tahoma" Font-Size="8pt" AutoPostBack="True">
                                    <TextboxLabelStyle CssClass="clstextarea"></TextboxLabelStyle>
                                    <WeekdayStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial" ForeColor="Black"
                                        BackColor="White"></WeekdayStyle>
                                    <MonthHeaderStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                        ForeColor="Black" BackColor="Yellow"></MonthHeaderStyle>
                                    <OffMonthStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial" ForeColor="Gray"
                                        BackColor="AntiqueWhite"></OffMonthStyle>
                                    <GoToTodayStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                        ForeColor="Black" BackColor="White"></GoToTodayStyle>
                                    <TodayDayStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial" ForeColor="Black"
                                        BackColor="LightGoldenrodYellow"></TodayDayStyle>
                                    <DayHeaderStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                        ForeColor="Black" BackColor="Orange"></DayHeaderStyle>
                                    <WeekendStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial" ForeColor="Black"
                                        BackColor="LightGray"></WeekendStyle>
                                    <SelectedDateStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                        ForeColor="Black" BackColor="Yellow"></SelectedDateStyle>
                                    <ClearDateStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial"
                                        ForeColor="Black" BackColor="White"></ClearDateStyle>
                                    <HolidayStyle Font-Size="XX-Small" Font-Names="Verdana,Helvetica,Tahoma,Arial" ForeColor="Black"
                                        BackColor="White"></HolidayStyle>
                                </ew:CalendarPopup>
                            </td>
                            <td style="height: 5px" valign="bottom" align="right" height="5">
                                &nbsp;
                                <asp:HyperLink ID="lnkBack" onclick="Back();" runat="server" CssClass="NormalLink"
                                    NavigateUrl="#">Back</asp:HyperLink>
                            </td>
                        </tr>
                        <tr>
                            <td class="frmtd" align="center" colspan="4" height="5">
                                <asp:Label ID="lblMessage" runat="server" ForeColor="Red"></asp:Label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="TDHeading" colspan="5">
                    <div id="HA1">
                        &nbsp; &nbsp;&nbsp;<asp:TextBox ID="lblHeading1" runat="server" CssClass="ProductHead"
                            ReadOnly="True">Payment Type Summary</asp:TextBox></div>
                </td>
            </tr>
            <tr>
                <td colspan="5" height="7">
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="5">
                    <div id="HA3">
                        <table id="Table6" cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td valign="top" align="left">
                                    <table id="Table2" cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tr>
                                            <td style="height: 94px" colspan="5">
                                                <asp:DataGrid ID="dgrdPayType" runat="server" Width="99%" Font-Names="Verdana" Font-Size="2px"
                                                    ShowFooter="True" AutoGenerateColumns="False" OnItemCommand="DoGetQueryString">
                                                    <AlternatingItemStyle BackColor="#EEEEEE"></AlternatingItemStyle>
                                                    <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader" VerticalAlign="Middle">
                                                    </HeaderStyle>
                                                    <FooterStyle CssClass="GrdFooter"></FooterStyle>
                                                    <Columns>
                                                        <asp:TemplateColumn HeaderText="Payment Method">
                                                            <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                            <ItemTemplate>
                                                                <asp:Label ID="lblPayTypeID" runat="server" CssClass="GrdLbl" Text='<%# DataBinder.Eval(Container, "DataItem.PaymentType_PK") %>'
                                                                    Visible="False">
                                                                </asp:Label>
                                                                <asp:Image ID="imgParent" ImageUrl="../Images/folderopen.gif" Visible="false" runat="server">
                                                                </asp:Image>
                                                                <asp:Image ID="imgLink" ImageUrl="../Images/T.gif" Visible="false" runat="server">
                                                                </asp:Image>
                                                                <asp:Image ID="ImageChild" ImageUrl="../Images/folder.gif" Visible="false" runat="server">
                                                                </asp:Image>
                                                                <asp:Label ID="lblDocumentID" runat="server" CssClass="ProductGrdLinks" Text='<%# DataBinder.Eval(Container, "DataItem.Description") %>'
                                                                    Visible="true">
                                                                </asp:Label>
                                                                <asp:Label ID="lblPayType1" runat="server" CssClass="GrdLbl" Text='<%# DataBinder.Eval(Container, "DataItem.description") %>'
                                                                    Visible="False">
                                                                </asp:Label>
                                                            </ItemTemplate>
                                                        </asp:TemplateColumn>
                                                        <asp:TemplateColumn HeaderText="Count">
                                                            <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                            <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                            <ItemTemplate>
                                                                <asp:Label ID="lblCount" runat="server" CssClass="GrdLbl" Text='<%# DataBinder.Eval(Container, "DataItem.TotalCount") %>'
                                                                    Visible="True">
                                                                </asp:Label>
                                                            </ItemTemplate>
                                                        </asp:TemplateColumn>
                                                        <asp:TemplateColumn HeaderText="Amount">
                                                            <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                            <ItemStyle HorizontalAlign="Right"></ItemStyle>
                                                            <ItemTemplate>
                                                                <asp:Label ID="lblAmount" runat="server" CssClass="GrdLbl" Text='<%# DataBinder.Eval(Container, "DataItem.Amount") %>'
                                                                    Visible="true">
                                                                </asp:Label>&nbsp;&nbsp;&nbsp;
                                                            </ItemTemplate>
                                                        </asp:TemplateColumn>
                                                    </Columns>
                                                    <PagerStyle NextPageText="" PrevPageText="" HorizontalAlign="Center" Mode="NumericPages">
                                                    </PagerStyle>
                                                </asp:DataGrid>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" height="20">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="TDHeading" style="height: 21px" colspan="5" height="21">
                                                &nbsp; &nbsp;&nbsp;<asp:TextBox ID="Textbox3" runat="server" CssClass="ProductHead"
                                                    Width="160px" ReadOnly="True">Representative Summary</asp:TextBox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" height="7">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="frmtd" valign="top" colspan="5" height="20">
                                                <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
                                                    <tr>
                                                        <td class="frmtd" style="border-top: 1px solid; border-left: 1px solid" valign="top"
                                                            align="left" width="18%" bgcolor="#eeeeee" colspan="2" height="18">
                                                            Rep
                                                        </td>
                                                        <td class="frmtd" style="border-top: 1px solid" align="center" width="25%" bgcolor="#eeeeee"
                                                            height="18">
                                                            Cash
                                                        </td>
                                                        <td class="frmtd" style="border-top: 1px solid" align="center" width="25%" bgcolor="#eeeeee"
                                                            height="18">
                                                            Check
                                                        </td>
                                                        <td class="frmtd" style="border-right: gray 1px solid; border-top: 1px solid" align="center"
                                                            width="25%" bgcolor="#eeeeee" height="18">
                                                            Total
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" colspan="6">
                                                            <asp:DataGrid ID="dgrdPayByRep" runat="server" Width="100%" Font-Names="Verdana"
                                                                Font-Size="2px" AutoGenerateColumns="False" OnItemCommand="DoGetQueryString">
                                                                <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader" VerticalAlign="Middle">
                                                                </HeaderStyle>
                                                                <FooterStyle CssClass="GrdFooter"></FooterStyle>
                                                                <Columns>
                                                                    <asp:TemplateColumn>
                                                                        <HeaderStyle HorizontalAlign="Left" Width="20%" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblEmployeeID" CssClass="GrdLbl" runat="server" Visible="False" Text='<%# DataBinder.Eval(Container, "DataItem.RepID") %>'>
                                                                            </asp:Label>
                                                                            <asp:Label ID="lblEmployee" CssClass="GrdLbl" runat="server" Visible="False" Text='<%# DataBinder.Eval(Container, "DataItem.RepName") %>'>
                                                                            </asp:Label>
                                                                            <asp:Label ID="lblRepID" CssClass="ProductGrdLinks" runat="server" Visible="true"
                                                                                Text='<%# DataBinder.Eval(Container, "DataItem.RepName") %>'>
                                                                            </asp:Label>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                    <asp:TemplateColumn HeaderText="System">
                                                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblSystemCash" CssClass="GrdLbl" runat="server" Visible="True" Text=''></asp:Label>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                    <asp:TemplateColumn HeaderText="Actual">
                                                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblActualCash" CssClass="GrdLbl" runat="server" Visible="false" Text=''></asp:Label>
                                                                            <asp:TextBox ID="txtActualCash" CssClass="TextBox" runat="server" Visible="True"
                                                                                Width="50" MaxLength="6" ReadOnly="True"></asp:TextBox>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                    <asp:TemplateColumn HeaderText="System">
                                                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblSystemCheck" CssClass="GrdLbl" runat="server" Visible="true" Text=''></asp:Label>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                    <asp:TemplateColumn HeaderText="Actual">
                                                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblActualCheck" CssClass="GrdLbl" runat="server" Visible="false" Text=''></asp:Label>
                                                                            <asp:TextBox ID="txtActualCheck" CssClass="TextBox" runat="server" Visible="True"
                                                                                Width="50" ReadOnly="True" MaxLength="6"></asp:TextBox>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                    <asp:TemplateColumn HeaderText="System">
                                                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblSystemTotal" CssClass="GrdLbl" runat="server" Visible="true" Text=''></asp:Label>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                    <asp:TemplateColumn HeaderText="Actual">
                                                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                                        <ItemStyle HorizontalAlign="Center"></ItemStyle>
                                                                        <ItemTemplate>
                                                                            <asp:Label ID="lblActualTotal" CssClass="GrdLbl" runat="server" Visible="true" Text=''></asp:Label>
                                                                        </ItemTemplate>
                                                                    </asp:TemplateColumn>
                                                                </Columns>
                                                                <PagerStyle NextPageText="" PrevPageText="" HorizontalAlign="Center" Mode="NumericPages">
                                                                </PagerStyle>
                                                            </asp:DataGrid>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="frmtd" style="border-right: gray 1px solid; border-left: 1px solid; border-bottom: black 1px solid"
                                                            colspan="5">
                                                            <table id="Table4" cellspacing="0" cellpadding="0" width="100%" border="0">
                                                                <tr>
                                                                    <td class="frmtd" width="22%" height="25">
                                                                        Total
                                                                    </td>
                                                                    <td width="14%" height="25">
                                                                        <asp:Label ID="lblTotalCashSys" runat="server" CssClass="Label"></asp:Label>
                                                                    </td>
                                                                    <td width="13%" height="25">
                                                                        <asp:Label ID="lblTotalCashActual" runat="server" CssClass="Label"></asp:Label>
                                                                    </td>
                                                                    <td width="15%" height="25">
                                                                        <asp:Label ID="lblTotalCheckSys" runat="server" CssClass="Label"></asp:Label>
                                                                    </td>
                                                                    <td width="12%" height="25">
                                                                        <asp:Label ID="lblTotalCheckActual" runat="server" CssClass="Label"></asp:Label>
                                                                    </td>
                                                                    <td width="13%">
                                                                        <asp:Label ID="lblTotalSystem" runat="server" CssClass="Label"></asp:Label>
                                                                    </td>
                                                                    <td>
                                                                        <asp:Label ID="lblTotalActual" runat="server" CssClass="Label" DESIGNTIMEDRAGDROP="4631"></asp:Label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="frmtd" colspan="5">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 2px" valign="top" colspan="5">
                                                <asp:TextBox ID="txtRemarks" runat="server" CssClass="TextArea" Width="100%" ToolTip="Notes"
                                                    ReadOnly="True" TextMode="MultiLine" Height="88px"></asp:TextBox>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" height="20">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="TDHeading" colspan="5">
                    <div id="HC1">
                        &nbsp;&nbsp;<asp:TextBox ID="Textbox5" runat="server" CssClass="ProductHead" ReadOnly="True"> Court Summary</asp:TextBox></div>
                </td>
            </tr>
            <tr>
                <td colspan="5" height="7">
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="5">
                    <div id="HC3">
                        <table id="Table61" cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td valign="top" align="left">
                                    <table id="Table21" cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tr>
                                            <td colspan="5" height="20">
                                                 <asp:DataGrid ID="dgrdCourt" runat="server" Width="100%" Font-Names="Verdana" Font-Size="2px"
                                                border="0" AutoGenerateColumns="False" ShowFooter="True" OnItemCommand="DoGetQueryString"
                                                CellPadding="0" CellSpacing="0">
                                                    <AlternatingItemStyle BackColor="#EEEEEE"></AlternatingItemStyle>
                                                    <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader" VerticalAlign="Middle">
                                                    </HeaderStyle>
                                                    <FooterStyle CssClass="GrdFooter"></FooterStyle>
                                                    <Columns>
                                                        <asp:TemplateColumn>
                                                            <HeaderTemplate>
                                                                 <table style="font-size: 2px; width: 100%; font-family: Verdana; border-collapse: collapse"
                                                                bordercolor="gainsboro" cellspacing="0" cellpadding="0" rules="all" border="1">
                                                                    <tr>
                                                                        <td class="GrdHeader" align="left" width="60%">
                                                                            Court Location
                                                                        </td>
                                                                        <td class="GrdHeader" align="center" width="15%">
                                                                            Transactions
                                                                        </td>
                                                                        <td class="GrdHeader" align="center" width="20%">
                                                                            Fee Amount&nbsp;&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </HeaderTemplate>
                                                            <ItemTemplate>
                                                                <table style="font-size: 2px; width: 100%; font-family: Verdana; border-collapse: collapse"
                                                                    bordercolor="gainsboro" cellspacing="0" cellpadding="0" rules="all" border="1">
                                                                    <tr id="trDetail" runat="server">
                                                                        <td valign="top" align="left" width="60%">
                                                                            <table style="border-top-style: none; border-right-style: none; border-left-style: none;
                                                                                border-bottom-style: none" cellspacing="0" cellpadding="0" width="416" border="0">
                                                                                <tr>
                                                                                    <td id="iParent" style="display: none" align="left" width="10" runat="server">
                                                                                        <asp:Image ID="imgParent" ImageUrl="../Images/folderopen.gif" runat="server"></asp:Image>
                                                                                    </td>
                                                                                    <td id="iLink" style="display: none" align="left" width="10" runat="server">
                                                                                        <asp:Image ID="imgLink" ImageUrl="../Images/T.gif" runat="server"></asp:Image>
                                                                                    </td>
                                                                                    <td id="iChild" style="display: none" align="left" width="10" runat="server">
                                                                                        <asp:Image ID="imgChild" ImageUrl="../Images/folder.gif" runat="server"></asp:Image>
                                                                                    </td>
                                                                                    <td class="style1">
                                                                                        &nbsp;<asp:Label ID="lblCourtID" CssClass="GrdLbl" runat="server" Visible="False"
                                                                                            Text='<%# DataBinder.Eval(Container, "DataItem.CurrentCourtloc") %>'>
                                                                                        </asp:Label>
                                                                                        <asp:Label ID="lblIsCourtCategory" CssClass="GrdLbl" runat="server" Style="display: none"
                                                                                            Text='<%# DataBinder.Eval(Container, "DataItem.IsCourtCategory") %>'>
                                                                                        </asp:Label>
                                                                                        <asp:Label ID="lblCategoryNumber" CssClass="GrdLbl" runat="server" Style="display: none"
                                                                                            Text='<%# DataBinder.Eval(Container, "DataItem.CategoryNumber") %>'>
                                                                                        </asp:Label>
                                                                                        <asp:Label ID="lblCourtName" CssClass="GrdLbl" runat="server" Visible="False" Text='<%# DataBinder.Eval(Container, "DataItem.CourtName") %>'>
                                                                                        </asp:Label>
                                                                                        <asp:LinkButton ID="lnkbtnCourt" runat="server" ForeColor="black" CssClass="ProductGrdLinks"
                                                                                            CommandName="DoGetCourt">
																		<%# DataBinder.Eval(Container, "DataItem.CourtName") %>
                                                                                        </asp:LinkButton>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="15%">
                                                                            <asp:Label ID="lblTrans" CssClass="GrdLbl" runat="server" Visible="True" Text='<%# DataBinder.Eval(Container, "DataItem.Trans") %>'>
                                                                            </asp:Label>
                                                                        </td>
                                                                        <td align="right" width="20%">
                                                                            <asp:Label ID="lblFee" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.Amount") %>'>
                                                                            </asp:Label>&nbsp;&nbsp;&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </ItemTemplate>
                                                            <FooterTemplate>
                                                                <table style="font-size: 2px; width: 100%; font-family: Verdana; border-collapse: collapse"
                                                                    bordercolor="silver" cellspacing="0" rules="cols" border="1">
                                                                    <tr>
                                                                        <td align="left" width="60%">
                                                                            <asp:Label ID="Label1" runat="server" CssClass="grdheader">Total</asp:Label>
                                                                        </td>
                                                                        <td align="center" width="15%">
                                                                            <asp:Label ID="lbl_Count" runat="server" CssClass="GrdLbl"></asp:Label>
                                                                        </td>
                                                                        <td align="right" width="20%">
                                                                            <asp:Label ID="lbl_Amount" runat="server" CssClass="GrdLbl"></asp:Label>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </FooterTemplate>
                                                        </asp:TemplateColumn>
                                                    </Columns>
                                                    <PagerStyle NextPageText="" PrevPageText="" HorizontalAlign="Center" Mode="NumericPages">
                                                    </PagerStyle>
                                                </asp:DataGrid>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 20px" colspan="5">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="TDHeading" colspan="5">
                    <div id="HB1">
                        &nbsp;&nbsp;&nbsp;<asp:TextBox ID="Textbox1" runat="server" CssClass="ProductHead"
                            ReadOnly="True">Transaction Details</asp:TextBox></div>
                </td>
            </tr>
            <tr>
                <td colspan="5" height="7">
                </td>
            </tr>
            <tr>
                <td style="display: none" align="center" colspan="5" height="10">
                    <asp:DropDownList ID="cmbRep" runat="server" CssClass="frmtd" Width="150px" AutoPostBack="True">
                    </asp:DropDownList>
                    &nbsp;
                    <asp:DropDownList ID="cmbPayType" runat="server" CssClass="frmtd" Width="250px" AutoPostBack="True">
                    </asp:DropDownList>
                    &nbsp;
                    <asp:DropDownList ID="cmbCourt" runat="server" CssClass="frmtd" Width="150px" AutoPostBack="True">
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td colspan="5" height="3">
                    <div id="HB3">
                        <table id="Table7" cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td style="border-right: gray 1px solid; border-top: 1px solid; border-left: 1px solid"
                                    align="center" bgcolor="#eeeeee" colspan="5" height="25">
                                    <asp:Label ID="lblRep" runat="server" CssClass="frmtd"></asp:Label>&nbsp;&nbsp;&nbsp;<asp:Label
                                        ID="lblPayType" runat="server" CssClass="frmtd"></asp:Label>&nbsp; &nbsp;
                                    <asp:Label ID="lblCourt" runat="server" CssClass="frmtd"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <asp:DataGrid ID="dgrdPayDetail" runat="server" Width="100%" Font-Names="Verdana"
                                        Font-Size="2px" AutoGenerateColumns="False" OnItemCommand="DoGetQueryString"
                                        AllowCustomPaging="True" PageSize="100">
                                        <AlternatingItemStyle BackColor="#EEEEEE"></AlternatingItemStyle>
                                        <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader" VerticalAlign="Middle">
                                        </HeaderStyle>
                                        <FooterStyle CssClass="GrdFooter"></FooterStyle>
                                        <Columns>
                                            <asp:TemplateColumn HeaderText="No.">
                                                <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemStyle HorizontalAlign="Center" Font-Bold="False" Font-Italic="False" Font-Overline="False"
                                                    Font-Strikeout="False" Font-Underline="False" Wrap="False"></ItemStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblTicketID" CssClass="GrdLbl" runat="server" Visible="false" Text='<%# DataBinder.Eval(Container, "DataItem.TicketID") %>'>
                                                    </asp:Label>
                                                    <asp:Label ID="lblCardTypeID" CssClass="GrdLbl" runat="server" Visible="false" Text='<%# DataBinder.Eval(Container, "DataItem.CardType") %>'>
                                                    </asp:Label>
                                                    <asp:Label ID="lblNo" CssClass="GrdLbl" runat="server" Visible="True" Text=''></asp:Label>
                                                </ItemTemplate>
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Date">
                                                <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemStyle HorizontalAlign="Center" Font-Bold="False" Font-Italic="False" Font-Overline="False"
                                                    Font-Strikeout="False" Font-Underline="False" Wrap="False"></ItemStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblDate" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.RecDate") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Time">
                                                <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemStyle HorizontalAlign="Right" Font-Bold="False" Font-Italic="False" Font-Overline="False"
                                                    Font-Strikeout="False" Font-Underline="False" Wrap="False"></ItemStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblTime" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.RecTime") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Client Name">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblCustomer" CssClass="ProductGrdLinks" runat="server" Visible="true"
                                                        Text='<%# DataBinder.Eval(Container, "DataItem.CustomerName") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn>
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <HeaderTemplate>
                                                    Rep
                                                </HeaderTemplate>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblRep" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.Lastname") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Bond">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblBond" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.BondFlag") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Paid">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblPaidAmount" CssClass="GrdLbl" runat="server" Text='<%# DataBinder.Eval(Container, "DataItem.ChargeAmount","{0:C0}") %>'></asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Adj1">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label runat="server" CssClass="GrdLbl" Text='<%# DataBinder.Eval(Container, "DataItem.adj1") %>'></asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Adj2">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label runat="server" CssClass="GrdLbl" Text='<%# DataBinder.Eval(Container, "DataItem.adj2") %>'></asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn>
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <HeaderTemplate>
                                                    Payment Type
                                                </HeaderTemplate>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblPayTypeFR" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.CCType") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Card">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblCardType" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.ChargeAmount") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Court">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblCourt" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.Court") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="List">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemTemplate>
                                                    <asp:Label ID="lblListDate" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.ListDate") %>'>
                                                    </asp:Label>
                                                </ItemTemplate>
                                                <ItemStyle Font-Bold="False" Font-Italic="False" Font-Overline="False" Font-Strikeout="False"
                                                    Font-Underline="False" Wrap="False" />
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="Source">
                                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                                <ItemStyle HorizontalAlign="Center" />
                                                <ItemTemplate>
                                                    <asp:Label ID="lbl_MailType" Text='<%# DataBinder.Eval(Container, "DataItem.MailType") %>'
                                                        runat="server" CssClass="GrdLbl" Visible="true">
                                                    </asp:Label>
                                                </ItemTemplate>
                                            </asp:TemplateColumn>
                                            <asp:TemplateColumn HeaderText="IP Address">
                                <HeaderStyle HorizontalAlign="Left" CssClass="GrdHeader"></HeaderStyle>
                                <ItemStyle HorizontalAlign="Center" />
                                <ItemTemplate>
                                    <asp:Label ID="lblIPAddress" Text='<%# DataBinder.Eval(Container, "DataItem.IPAddress") %>'
                                        runat="server" CssClass="GrdLbl" Visible="true">
                                    </asp:Label>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                                        </Columns>
                                        <PagerStyle NextPageText="" PrevPageText="" HorizontalAlign="Center" Mode="NumericPages">
                                        </PagerStyle>
                                    </asp:DataGrid>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" height="20">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="TDHeading" colspan="5">
                    <div id="Div1">
                        &nbsp;&nbsp;<asp:TextBox ID="txtMailerSummary" runat="server" CssClass="ProductHead"
                            ReadOnly="True">Hiring Source Summary</asp:TextBox></div>
                </td>
            </tr>
            <tr>
                <td colspan="5" height="7">
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="5">
                    <div id="Div2">
                        <table id="tblMailerSummary" cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td valign="top" align="left">
                                    <table id="tblSubMailerSummary" cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tr>
                                            <td colspan="5" height="20">
                                                <asp:DataGrid ID="dgMailerSummary" runat="server" Width="100%" Font-Names="Verdana"
                                                    Font-Size="2px" AutoGenerateColumns="False" ShowFooter="True" OnItemCommand="DoGetQueryString"
                                                    border="0" CellPadding="0" CellSpacing="0" OnItemDataBound="dgMailerSummary_ItemDataBound">
                                                    <AlternatingItemStyle BackColor="#EEEEEE"></AlternatingItemStyle>
                                                    <HeaderStyle HorizontalAlign="Center" CssClass="GrdHeader" VerticalAlign="Middle">
                                                    </HeaderStyle>
                                                    <FooterStyle CssClass="GrdFooter"></FooterStyle>
                                                    <Columns>
                                                        <asp:TemplateColumn>
                                                            <HeaderTemplate>
                                                                <table style="font-size: 2px; width: 100%; font-family: Verdana; border-collapse: collapse"
                                                                    cellspacing="0" rules="cols" border="1">
                                                                    <tr>
                                                                        <td class="GrdHeader" align="left" width="60%" colspan="2">
                                                                            Court Category / Hired Source
                                                                        </td>
                                                                        <td class="GrdHeader" align="center" width="20%">
                                                                            Total Clients
                                                                        </td>
                                                                        <td class="GrdHeader" align="right" width="20%">
                                                                            Total Revenue
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </HeaderTemplate>
                                                            <ItemTemplate>
                                                                <table style="font-size: 2px; width: 100%; font-family: Verdana; border-collapse: collapse"
                                                                    bordercolor="gainsboro" cellspacing="0" cellpadding="0" rules="all" border="1"
                                                                    runat="server" id="tblSummary">
                                                                    <tr id="trDetail" runat="server">
                                                                        <td valign="middle" align="left" width="40%" runat="server" id="tdCategory" style="display: block">
                                                                            <table style="border-top-style: none; border-right-style: none; border-left-style: none;
                                                                                border-bottom-style: none" cellspacing="0" cellpadding="0" width="100%" border="0">
                                                                                <tr>
                                                                                    <td id="iParent" style="display: none; width: 25px" align="left" runat="server">
                                                                                        <asp:Image ID="imgParent" ImageUrl="../Images/folderopen.gif" runat="server" ToolTip="Collapse">
                                                                                        </asp:Image>
                                                                                    </td>
                                                                                    <td id="iChild" style="display: none; width: 25px" align="left" runat="server">
                                                                                        <asp:Image ID="imgChild" ImageUrl="../Images/folder.gif" runat="server" ToolTip="Expand">
                                                                                        </asp:Image>
                                                                                    </td>
                                                                                    <td align="left">
                                                                                        <asp:Label ID="lblCourtCategory" ForeColor="black" CssClass="ProductGrdLinks" runat="server"
                                                                                            Style="display: block;" Text='<%# DataBinder.Eval(Container, "DataItem.CourtCategoryName") %>'>
                                                                                        </asp:Label>
                                                                                        <asp:Label ID="lbl_IsGroup" runat="server" Style="display: none" Text='<%# DataBinder.Eval(Container, "DataItem.IsGroup") %>'>
                                                                                        </asp:Label>
                                                                                        <asp:Label ID="lblCourtCategorynum" runat="server" Style="display: none" Text='<%# DataBinder.Eval(Container, "DataItem.CourtCategoryNum") %>'>
                                                                                        </asp:Label>
                                                                                    </td>
                                                                                    <td id="iLink" style="display: none" align="left" runat="server">
                                                                                        <asp:TextBox ID="txtToggleImage" runat="server">1</asp:TextBox>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="left" runat="server" id="tdMailer" style="display: none">
                                                                            <table>
                                                                                <tr>
                                                                                    <td>
                                                                                        <asp:Image ID="imgLink" ImageUrl="../Images/T.gif" runat="server"></asp:Image>
                                                                                    </td>
                                                                                    <td>
                                                                                        <asp:Image ID="Imagechild2" ImageUrl="../Images/folder.gif" runat="server"></asp:Image>
                                                                                    </td>
                                                                                    <td>
                                                                                        <asp:Label ID="lblLetterType" CssClass="GrdLbl" runat="server" Visible="True" Text='<%# DataBinder.Eval(Container, "DataItem.MailType") %>'></asp:Label>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="20%">
                                                                            <asp:Label ID="lblTotalClients" CssClass="GrdLbl" runat="server" Visible="True" Text='<%# DataBinder.Eval(Container, "DataItem.TotalClients") %>'>
                                                                            </asp:Label>
                                                                        </td>
                                                                        <td align="right" width="20%">
                                                                            <asp:Label ID="lblTotalRev" CssClass="GrdLbl" runat="server" Visible="true" Text='<%# DataBinder.Eval(Container, "DataItem.TotalRev","{0:C}") %>'>
                                                                            </asp:Label>&nbsp;&nbsp;&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </ItemTemplate>
                                                        </asp:TemplateColumn>
                                                    </Columns>
                                                </asp:DataGrid>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 20px" colspan="5">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <hr>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="display: none">
                    <asp:TextBox ID="iMailerSummaryCount" runat="server" Width="0px" Height="18px">0</asp:TextBox>
                    <asp:TextBox ID="txtHCJP" runat="server" Width="0px" Height="18px">1</asp:TextBox>
                    <asp:TextBox ID="txtOthers" runat="server" Width="0px" Height="18px">1</asp:TextBox>
                    <asp:TextBox ID="iCourtCount" runat="server" Width="0px" Height="18px">0</asp:TextBox>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <uc1:Footer ID="Footer1" runat="server"></uc1:Footer>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</body>
</html>
